@model List<PhoneShop.ModelViews.MyOrderViewModel>
@using PhoneShop.Models;
@using PhoneShop.Data;
@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<DeliveryProcess> OrderComfirm = ViewBag.OrderComfirm;


    List<DeliveryProcess> Orderchuanbi = ViewBag.Orderchuanbi;
    List<DeliveryProcess> Orderdanggiao = ViewBag.Orderdanggiao;
    List<DeliveryProcess> Orderdagiao = ViewBag.Orderdagiao;
    List<DeliveryProcess> Orderhuy = ViewBag.Orderhuy;



    List<DeliveryProcess> StatusOrder = ViewBag.StatusOrder;


    List<Order_DetailsData> ListOrder = ViewBag.GetOrder;



}
<style>
    .tabs {
        display: flex;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .tab {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
        background-color: #f1f1f1;
        margin-right: 5px;
        transition: background 0.3s;
    }

        .tab:hover {
            background-color: #e0e0e0;
        }

    .active {
        background-color: white;
        border-bottom: 1px solid white;
        font-weight: bold;
    }

    .content {
        border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        display: none;
    }
    .profile-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        width: 100%;
        margin: auto
    }
    .profile-header {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }



    .order-card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .favorite-btn, .chat-btn, .view-shop-btn {
        background-color: #ee4d2d;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .shop-name {
        font-weight: bold;
        flex-grow: 1;
        text-align: center;
    }

    .order-details {
        display: flex;
        margin-bottom: 15px;
    }

    .product-image {
        width: 150px;
        height: auto;
        border-radius: 5px;
    }

    .product-info {
        margin-left: 15px;
        flex-grow: 1;
    }

        .product-info h4 {
            margin: 0;
        }

    .order-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-status {
        color: green;
        font-weight: bold;
    }

    .total-price {
        font-weight: bold;
    }

    .action-btns {
        display: flex;
        gap: 10px;
    }

    .buy-again, .contact-seller {
        background-color: #ee4d2d;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .buy-again:hover, .contact-seller:hover {
            background-color: #d7361c;
        }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
@await Component.InvokeAsync("MenuUtilities")

<div class="profile-container" style="min-height:600px; width:1000px">

    <div class="row" style="background:white;min-height:500px">


        <h1 class="profile-header" style="margin-bottom:5px">Đơn Hàng Của Tôi</h1>
        <p style="color:red;text-align:center;font-size:12px">Đơn hàng đã xác nhận/Chuẩn bị hàng có thể hủy</p>

        <div class="tabs">
            <div class="tab active" onclick="showContent('orders')">Đang chờ</div>
            <div class="tab" onclick="showContent('xuly')">Đã xác nhận/Xử lý</div>
            <div class="tab" onclick="showContent('chuanbi')">Chuẩn bị hàng</div>
            <div class="tab" onclick="showContent('shipping')">Đang vận chuyển</div>
            <div class="tab" onclick="showContent('hoanthanh')">Hoàn Thành</div>
            <div class="tab" onclick="showContent('canceled')">Đã hủy</div>                           
           
            <div class="tab" onclick="showContent('hoantien')">Trả tiền/Hoàn tiền</div>
        </div>

        <div id="orders" class="content" style="display: block;min-height:500px">
            @if (Model != null)
            {
            foreach (var item in ListOrder)
                {
                    <div class="order-card" id="trow_@item.Id">
                        <div class="order-header">



                            <div class="view-shop-btn">Xem Shop</div>
                        </div>
                        <div class="order-details">
                            <img src="~/images/Product/@item.ProductImage" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: @item.OrderDate</p>

                                <p>x @item.Quantity </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>
                        </div>
                        <div class="order-footer">
                            @if (item.Status_OrderDetail == 1)
                            {
                                <div class="order-status" style="color:#4d94ff">Đơn hàng đã được xác nhận</div>
                            }
                            else
                            {
                                <div class="order-status" style="color:red">Đơn hàng chưa được xác nhận</div>
                            }

                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                            <div class="action-btns">

                                <button class="buy-again CancelOrder" data-id="@item.Id" style="background: #5a88ca">Hủy đơn hàng</button>


                                <button class="contact-seller" style="background:white;color:black;border:1px solid">Trạng thái đơn hàng</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div id="xuly" class="content" style="min-height:500px">
           
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.DeliStatus == 1))
                {
                    <div class="order-card" id="trow_@item.OrdId">
                        <div class="order-header">



                            <a class="view-shop-btn" href="/detail_booth/@item.BoothId" >Xem Shop</a>
                            <p>@item.BoothName</p>
                        </div>

                        <div class="order-details">
                            <img src="~/images/Product/@item.ImageProductName" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: 123</p>

                                <p>x @item.PurchaseQuantity_Product </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>
                           
                        </div>
                        <div class="order-footer">


                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                            <div class="action-btns">

                                <button class="buy-again CancelOrder" data-id="@item.OrdId" style="background: #5a88ca">Hủy đơn hàng</button>


                            </div>
                        </div>

                      
                    </div>
                }
            }
        </div>

        <div id="chuanbi" class="content" style="min-height:500px">

            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.DeliStatus == 2))
                {
                    <div class="order-card" id="trow_@item.OrdId">
                        <div class="order-header">



                            <a class="view-shop-btn" href="/detail_booth/@item.BoothId">Xem Shop</a>
                            <p>@item.BoothName</p>
                        </div>
                        <div class="order-details">
                            <img src="~/images/Product/@item.ImageProductName" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: 123</p>

                                <p>x @item.PurchaseQuantity_Product </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>

                        </div>
                        <div class="order-footer">


                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                            <div class="action-btns">

                                <button class="buy-again CancelOrder" data-id="@item.OrdId" style="background: #5a88ca">Hủy đơn hàng</button>


                            </div>
                        </div>


                    </div>
                }
            }
           
        </div>
        <div id="shipping" class="content" style="min-height:500px">
           
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.DeliStatus == 3))
                {
                    <div class="order-card" id="trow_@item.OrdId">
                        <div class="order-header">



                            <a class="view-shop-btn" href="/detail_booth/@item.BoothId">Xem Shop</a>
                            <p>@item.BoothName</p>
                        </div>
                        <div class="order-details">
                            <img src="~/images/Product/@item.ImageProductName" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: 123</p>

                                <p>x @item.PurchaseQuantity_Product </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>

                        </div>
                        <div class="order-footer">


                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                            
                        </div>


                    </div>
                }
            }
        </div>

       

        

        <div id="hoanthanh" class="content" style="min-height:500px">

            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.DeliStatus == 4))
                {
                    <div class="order-card" id="trow_@item.OrdId">
                        <div class="order-header">



                            <a class="view-shop-btn" href="/detail_booth/@item.BoothId">Xem Shop</a>
                            <p>@item.BoothName</p>
                        </div>
                        <div class="order-details">
                            <img src="~/images/Product/@item.ImageProductName" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: 123</p>

                                <p>x @item.PurchaseQuantity_Product </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>

                        </div>
                        <div class="order-footer">


                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                           
                        </div>


                    </div>
                }
            }
        </div>

        <div id="hoantien" class="content" style="min-height:500px">
           
        </div>



        <div id="canceled" class="content">
           
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.DeliStatus == 5))
                {
                    <div class="order-card" id="trow_@item.OrdId">
                        <div class="order-header">



                            <a class="view-shop-btn" href="/detail_booth/@item.BoothId">Xem Shop</a>
                            <p>@item.BoothName</p>
                        </div>
                        <div class="order-details">
                            <img src="~/images/Product/@item.ImageProductName" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h4>@item.ProductTitle</h4>
                                <p>Ngày đặt: 123</p>

                                <p>x @item.PurchaseQuantity_Product </p>
                                <p>@PhoneShop.Extension.Extension.ToVnd((double)item.PurchasePrice_Product)</p>
                            </div>

                        </div>
                        <div class="order-footer">


                            <div class="total-price">Thành tiền: @PhoneShop.Extension.Extension.ToVnd((double)item.FinalAmount)</div>
                            <div class="action-btns">

                                <button class="buy-again CancelOrder" data-id="@item.OrdId" style="background: #5a88ca">Hủy đơn hàng</button>


                            </div>
                        </div>


                    </div>
                }
            }
        </div>
       

       


    </div>
</div>
<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '900',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }
            });        
            $('body').on('click', '.Detail_Order_Account', function () {

                var orderid = $(this).attr("data-id_or");
                $("#dialog #myiframe").attr("src", "/Order/Index?id_order=" + orderid);
                $("#dialog").dialog('open');
                return false;

            });


        });


    </script>




    <script>
        $(document).ready(function () {
            $('body').on('click', '.CancelOrder', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận hủy đơn hàng");

                if (conf == true) {

                    $.ajax({

                        url: '/Order/CancelOrderDetail',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {

                                $('trow_' + id).remove();
                                location.reload();
                            }
                            else {
                                alert("Hủy thất bại đơn hàng đang trong quá trình giao")
                                location.reload();
                            }
                        }

                    });

                }
            });




        });
    </script>

    <script>
        function showContent(contentId) {
            // Ẩn tất cả các nội dung
            const contents = document.querySelectorAll('.content');
            contents.forEach(content => {
                content.style.display = 'none';
            });

            // Bỏ chọn tất cả các tab
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });

            // Hiển thị nội dung tương ứng và đánh dấu tab
            document.getElementById(contentId).style.display = 'block';
            event.currentTarget.classList.add('active');
        }
    </script>

}
