@model List<PhoneShop.Models.City>
@using PhoneShop.Models;
@{
    ViewData["Title"] = "MyAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MyAddress MyAddress = ViewBag.MyAddress;

}

<style>
    
    .close-btn {
        position: absolute;
        top: 10px; 
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #333; 
    }

        .close-btn:hover {
            color: red; 
        }
   
    #dialog {
        position: fixed; 
        top: 60%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 100%; 
        max-width: 600px; 
        height: auto; 
        max-height: 80vh; 
        padding: 20px;
        background-color: white; 
        overflow-y: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px; 
        z-index: 1000; 
    }

    .profile-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        width: 100%;
        margin: auto
    }

    .form-container {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .input-group {
        width: 410px;
    }

    .profile-header {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

        .input-group label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .input-group input,
        .input-group select {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
           
        }

        .input-group select {
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.5rem center;
           
        }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
       
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
   
    
    
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
@await Component.InvokeAsync("MenuUtilities")
<div class="profile-container">
    
    <h1 class="profile-header">Địa chỉ nhận hàng </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <button class="btn btn-success imgproduct" data-id="@ViewBag.AccountInt" style="background:#5a88ca;color:white">Xem địa chỉ của bạn</button>
                @if (MyAddress.FullName == "null")
                {
                    <div>Hiện chưa có địa chỉ</div>
                }
                else
                {
                    <div style="border:1px solid;padding:5px;margin-top:10px">
                        <div>Tên người nhận: @MyAddress.FullName</div>
                        <div>Email: @MyAddress.Email</div>
                        <div>Địa chỉ:  @MyAddress.Description - @MyAddress.WardName - @MyAddress.DistrictName - @MyAddress.CityName</div>
                        <div class="btn btn-primary" >Mặc Định</div>
                    </div>
                }
              



            </div>
            <div class="col-md-8" >


                <div >
                    <form method="post" action="/MyAddress/Create">
                        <div class="input-group">
                            <label>Tên người nhận<span style="color:red">*</span></label>
                            <input name="FullName" type="text" required>
                        </div>

                        <div class="input-group">
                            <label>Tỉnh<span style="color:red">*</span></label>
                            <select name="City" class="form-control tinh" required>
                                <option value="" selected>Lựa chọn</option>
                                @foreach (var i in Model)
                                {
                                    <option value="@i.Id">@i.Title</option>
                                }
                            </select>
                        </div>

                        <div class="input-group">
                            <label>Quận<span style="color:red">*</span></label>
                            <select name="District" class="form-control quan">
                                <option value="" selected>Lựa quận</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label>Phường<span style="color:red">*</span></label>
                            <select name="Ward" class="form-control phuong">
                                <option value="" selected>Lựa phường</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label>Địa chỉ chi tiết (số nhà,...)<span style="color:red">*</span></label>
                            <input name="Description" type="text" required>
                        </div>

                        <div class="input-group">
                            <label>Loại địa chỉ<span style="color:red">*</span></label>
                            <select name="AddressType" class="form-control tinh">
                                <option value="1">Chỗ ở cá nhân</option>
                                <option value="2">Nơi làm việc</option>
                                <option value="3">Khác</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label>Email<span style="color:red">*</span></label>
                            <input name="Email" type="text" required>
                        </div>

                        <div class="input-group">
                            <label>Số điện thoại<span style="color:red">*</span></label>
                            <input name="Phone" type="text" required>
                        </div>

                       

                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" value="Thêm">
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    
    
   


</div>


<div id="dialog">
    <button class="close-btn" onclick="closeModal()">X</button>
    <iframe id="myiframe" style="border:0;width:500px;height:100%"></iframe>
</div>


@section Scripts{

   


    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            showContent('content1'); // Hiển thị nội dung 1 mặc định khi trang được tải lên
        });

        function showContent(id) {
            var contents = document.getElementsByClassName("content-item");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }
            var content = document.getElementById(id);
            if (content) {
                content.style.display = "block";
            }
        }
    </script>


    <script>
        $(document).ready(function () {
            $(".tinh").change(function () {
                var id = $(".tinh").val();

                $.post("/Utilities/GetDistricts", { id: id }, function (data) {
                    $(".quan").html(data);
                })
            })

            $(".quan").change(function () {
                var idd = $(".quan").val();

                $.post("/Utilities/GetWards", { id: idd }, function (data) {
                    $(".phuong").html(data);
                })
            })
        })
    </script>


    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '0',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.imgproduct', function () {

                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/MyAddress/Index?id=" + proid);
                $("#dialog").dialog('open');
                return false;

            });

           


        });


    </script>

    <script>
        function closeModal() {
            document.getElementById("dialog").style.display = "none"; // Ẩn modal
            window.location.reload();
        }

       
    </script>






}


