﻿@using PagedList.Core.Mvc
@using System.Globalization;﻿
@using PhoneShop.Models
@using PhoneShop.ModelViews
@using PhoneShop.Extension

@model PagedList.Core.IPagedList<PhoneShop.ModelViews.ProductViewModel>

@{


    List<CategoryModelView> ListLogo = ViewBag.ListLogo;

    List<ImageProductViewModel> IsCourseContents = ViewBag.imageproduct;

    List<BannerViewModel> banneViews = ViewBag.ListBanner;



    // List<ProductViewModel> IsSelling_Products  = ViewBag.Selling_Products;

    int tienO = 0;

    List<ProductViewModel> List_Selling = ViewBag.ListSelling;
    List<ProductViewModel> New_Product = ViewBag.New_Product;

    

}



@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .col-md-12 {
       padding:0px;
       
    }

    .section-title {
        font-family: "Raleway", sans-serif;
        font-size: 50px;
        font-weight: 100;
       
        text-align: center;
        background: #B0D4B8;
        border-radius: 8px;
        padding: 10px;
         font-weight: bold;
        
       

    }
.section-title {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #333;
  background-color: #f6f6f6;
  border-bottom: 2px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title:before,
.section-title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 10px 0;
}
</style>


<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
                     
            @await Html.PartialAsync("_Partial_Banner_Images",banneViews)
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa-solid fa-ticket"></i>
                   <p>
                        <a style="color:white" href="/voucher.html">Mã giảm giá</a>
                   </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Miễn phí giao hàng</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Thanh toán an toàn</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa-solid fa-newspaper"></i>
                    <p> <a href="/Voucher/Index">Tin tức</a></p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->
@await Html.PartialAsync("_Partial_NewProducts_Home",New_Product)

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div style="margin-bottom: 10px;" class="section-title">
                <h3 style="text-align: left; margin-bottom:0PX;">Bán Chạy </h3>
            </div>


            @if (Model != null)
            {
                foreach (var item in List_Selling)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="single-product">
                            <div class="product-f-image">
                                @*                                         <img src="~/User/img/product-1.jpg" alt="">
                        *@            <img src="~/images/Product/@item.ImageDefaultName" style="border: solid 1px;height:296px; width:220px" />

                                <div class="product-hover">
                                    <a class="add-to-cart-link confirmAdd" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                    <a href="/chi-tiet/@item.Alias-@item.Id" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                </div>
                            </div>
                            <div style="height:45px">  <h2><a href="single-product.html">@item.Title</a></h2></div>


                            <div class="product-carousel-price">


                                @{
                                    if (item.Discount == 0 || item.Discount == null || item.Discount is string)
                                    {
                                        <ins>
                                            @{






                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price);

                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                    else
                                    {
                                        <ins>
                                            @{





                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Discount);


                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                }

                                <del>
                                    @{
                                        string formattedPrice2;
                                        if (item.Discount > 0)
                                        {

                                            formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)item.Price);
                                        }
                                        else
                                        {


                                            formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)tienO);
                                        }


                                    }
                                    @formattedPrice2




                                </del>
                            </div>
                         
                        </div>
                    </div>
                }
            }

            <!-- Các sản phẩm tiếp theo -->
        </div>
    </div>
</div> <!-- san pham ban chay-->
@await Html.PartialAsync("_Partial_ListCategory_Home",ListLogo)

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div style="margin-bottom: 10px;" class="section-title">
                <h3 style="text-align: left; margin-bottom:0PX;">Tất cả sản phẩm </h3>
            </div>


            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="single-product">
                            <div class="product-f-image">
                                @*                                         <img src="~/User/img/product-1.jpg" alt="">
                        *@            <img src="~/images/Product/@item.ImageDefaultName" style="border: solid 1px;height:296px; width:220px" />

                                <div class="product-hover">
                                    <a class="add-to-cart-link confirmAdd" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                    <a href="/chi-tiet/@item.Alias-@item.Id" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                </div>
                            </div>
                            <div style="height:45px">  <h2><a href="single-product.html">@item.Title</a></h2></div>


                            <div class="product-carousel-price">


                                @{
                                    if (item.Discount == 0 || item.Discount == null || item.Discount is string)
                                    {
                                        <ins>
                                            @{






                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price);

                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                    else
                                    {
                                        <ins>
                                            @{





                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Discount);


                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                }

                                <del>
                                    @{
                                        string formattedPrice2;
                                        if (item.Discount > 0)
                                        {

                                            formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)item.Price);
                                        }
                                        else
                                        {


                                            formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)tienO);
                                        }


                                    }
                                    @formattedPrice2




                                </del>
                            </div>
                          
                        </div>
                    </div>
                }
            }

            
            <!-- Các sản phẩm tiếp theo -->
        </div>
        @*  note *@
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model" asp-controller="Home" asp-action="Index" />

            </ul>
        </div>
        @*  note *@
     
    </div>
   
</div> <!--Tat ca san pham -->





@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.confirmAdd', function () {
                var id = $(this).data('id');

               

              

                    $.ajax({

                        url: '/Cart/Add',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                alert("Thêm thành công");
                               
                                location.reload();
                            }
                        }

                    });

               
            });
        });
    </script>


}