@model List<PhoneShop.Controllers.Seller.DataView.ReviewProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
    int index = 1;
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/clients/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/clients/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/clients/dist/css/adminlte.min.css">

<style>
    .star-rating {
        display: inline-block;
        font-size: 0;
        position: relative;
        vertical-align: middle;
    }

    .star-container {
        display: inline-block;
        position: relative;
        width: 100px; 
        height: 20px; 
        background: url('star-empty.png') repeat-x; 
    }

    .star {
        display: inline-block;
        height: 100%;
        background: url('star-full.png') repeat-x; 
    }
</style>

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link"> Đánh giá sản phẩm </a>
        </li>
    </ul>
}
<section class="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Đánh giá sản phẩm</h3>



            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>

                            <th>Người Dùng</th>
                            <th>Sản Phẩm</th>
                            <th>Đánh Giá</th>
                            <th>Thời Gian</th>
                            <th>Nội Dung</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr id="trow_@i.IdRwProduct">
                                <td>@(index++)</td>
                                <td>
                                    @i.UserName
                                </td>
                                <td>@i.TitleProduct</td>
                                <td>
                                    @for (int j = 0;  j < i.Rating;  j++)
                                    {
                                        <i class="fas fa-star" style="color: #FFD43B;"></i>
                                    }
                                </td>
                                <td>@i.CreateAt.ToString("dd/MM/yyyy hh:MM:ss")</td>
                                <td>
                                   
                                    <a class="RwProduct" href="#"  data-id_or="@i.IdRwProduct"><i class="fas fa-pen-square" style="color: #ea0b43;"></i>Xem</a>
                                </td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>

<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>

@section scripts_SellerHome{
    <!-- jQuery -->
    <script src="~/clients/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/clients/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/clients/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/jszip/jszip.min.js"></script>
    <script src="~/clients/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/clients/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>






    <!-- AdminLTE App -->
    <script src="~/clients/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*     <script src="~/clients/dist/js/demo.js"></script>
     *@    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận xóa đánh giá này");

                if (conf == true) {

                    $.ajax({

                        url: '/Product_Seller/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });


        });
    </script>
    <script src="~/user/user/js/1.13.2jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '300',
                width: '300',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }

            });
            $('body').on('click', '.RwProduct', function () {

                var IdRwProduct = $(this).attr("data-id_or");
                $("#dialog #myiframe").attr("src", "/ReviewProduct_Seller/CheckRwProduct?IdRwProduct=" + IdRwProduct);
                $("#dialog").dialog('open');
                return false;

            });


           
        });


    </script>


}

