@model IEnumerable<PhoneShop.ModelViews.SupportContentViewModel>
@using PhoneShop.ModelViews;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    IEnumerable<SupportDirectoryViewModel> IsDiretory = ViewBag.ListDirectory;

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
               Loai ho tro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="trow_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                    @foreach (var i in IsDiretory)
                    {
                        if(item.IdSpDirectory == i.Id)
                        {
                            <p>@i.Title</p>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                    <a href="#" class="btnDelete btn-btn-success" data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/admin/SupportContents/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                               
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>

}