@model PhoneShop.Models.Order_Details
@using PhoneShop.Controllers.Seller.DataView;
@using PhoneShop.Models
@using System.Globalization;
@{
    ViewData["Title"] = "ViewOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // List<Product> ListItem = ViewBag.iProductOrder; 





    List<OrderByUser> getDetail_Order = ViewBag.getDetail_Order;

    Order getOrder =  ViewBag.GetOrder;

    //format tien
    decimal TotalOrder = getDetail_Order.Sum(x => x.Total_Order_DetailByProduct);

    DeliveryProcess GetDeli = ViewBag.DeliveryProcess;

    ShippingFees CheckShipping =  ViewBag.CheckShipping;


   
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Quản lý đơn hàng</a>
        </li>
    </ul>
}




<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết đơn hàng</h3>


        </div>
        <div class="card-body">

            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1;">
                    <h4>Thông tin người nhận</h4>
                    <p>Tên khách hàng: @Model.Order_Name</p>
                    <p>Số điện thoại: @Model.Phone</p>
                    <p>Địa chỉ: @Model.Address</p>
                    <p>Ghi chú: @Model.Description</p>
                    <p>Email: @Model.Email</p>
                </div>
                <div style="flex: 1; justify-content: space-between;">
                    <h4>Thông tin đơn hàng</h4>
                    <p>Tổng tiền: @PhoneShop.Extension.Extension.ToVnd((double)TotalOrder)</p>
                    <p>Mã đơn hàng: @Model.OrderId</p>
                                        @if(getOrder.PaymentMethod == 2)
                                        {
                                        <p>Thanh toán trực tuyến</p>
                                        }
                                        else
                                        {
                                        <p>Thanh toán khi nhận hàng</p>
                                        }
                    <p>Ngày đặt: @getOrder.Order_Date</p>
                    @if (CheckShipping == null)
                    {
                        <p style="color:red">Phí vận chuyện: 15.000 VND</p>
                    }
                    else
                    {
                        <p style="color:red">Đã áp dụng voucher miễn phí vận chuyển, mã voucher: @CheckShipping.VoucherId với đơn hàng @CheckShipping.OrderId</p>

                    }
                    <a class="btnDelete btn btn-success" data-id="@Model.OrderId">
                       Xóa đơn hàng
                    </a>
                    
                    <a href="/admin/Order/CheckDelOrder/@Model.OrderId">CheckDelOrder</a>
                   
                </div>
                <div style="flex: 1; text-align: right;">
                   
                </div>
            </div>

           

           
            
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Gian hàng</th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                           Hình ảnh
                        </th>
                        <th>Số lượng</th>
                        <th>
                            Giá tiền
                        </th> 
                        <th>
                           Thành tiền
                        </th>
                        <td></td>
                       
                       
                    </tr>
                </thead>
               
                <tbody>
                   
                    @foreach (var item in getDetail_Order)
                    {
                        
                        <tr id="trow_@item.Id">
                            <td><a href="/Booth/Info_Booth/@item.BoothId">@item.BoothName</a></td>
                        <td>@item.Title</td>
                        <td> <img src="~/images/Product/@item.ImageDefault" width="100" height="100" style="border: solid 1px " /></td>
                        <td>@item.Quantity_Purchase</td>
                        <td>
                                @PhoneShop.Extension.Extension.ToVnd((double)item.Price)
                            
                         </td>
                            <td>

                                @PhoneShop.Extension.Extension.ToVnd((double)item.Total_Order_DetailByProduct)
                                <br>
                                @if(item.Discount > 0)
                                {
                                    <p style="color:blue">Giảm từ Voucher: @PhoneShop.Extension.Extension.ToVnd((double)item.Discount)</p>

                                }
                                
                            </td>

                            @if(item.Status_OrderDetail == 1)
                            {
                                <td>
                                    <p style="color:blue">Đã xác nhận</p>


                                    <a  class="statusOr" data-id="@item.Id" style="color:#FF8C00">Xem quá trình giao hàng</a>

                                </td>
                               
                            }
                            else
                            {
                                <td>Chưa xác nhận</td>
                            }

                            

                           

                    </tr>


                        
                    }
                  
                    
                </tbody>
            </table>
          



        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
   
    <a href="@Url.Action("Index")" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> Trở về
    </a>

    <div id="dialog">
        <iframe id="myiframe" style="border:0;width:100px   ;height:50px"></iframe>
    </div>
</section>

@section scripts{
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {


            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

              

                    $.ajax({

                        url: '/admin/Order/CheckDelOrder',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            // if (rs.success) {
                            //     // $('trow_' + id).remove();
                            //     location.reload();
                            // }
                            var comfirm = confirm(rs.msg);
                            if (comfirm) {
                            $.ajax({

                                url: '/admin/Order/delete',
                                type: 'post',
                                data: { id: id },
                                success: function (respon) {
                                    alert(respon.msg);
                                    window.location.href = '/admin/Order';
                                }

                            })
                            }
                           

                        }

                    });

                
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '200',
                width: '200',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.statusOr', function () {

                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/admin/Order/ViewStatusOrD?id=" + proid);
                $("#dialog").dialog('open');
                return false;

            });




        });


    </script>

    <script>
        function closeModal() {
            document.getElementById("dialog").style.display = "none"; // Ẩn modal
            window.location.reload();
        }


    </script>

}