@model List<PhoneShop.Controllers.Seller.DataView.CustomerPurchase>
@using PhoneShop.Controllers.Seller.DataView;
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
    List<CustomerPurchase> GetDeli = ViewBag.GetDeli;
    Order_Details MyAddress = ViewBag.AddressOrder;

}
<p style="color:red">@PhoneShop.Extension.Extension.ToVnd((double)ViewBag.TotalOrderAmount)</p>
<p>Tên người nhận: @MyAddress.Order_Name</p>
<p>Địa chỉ ĐH: @MyAddress.Address</p>
<p>SĐT: @MyAddress.Phone</p>
<p>Email: @MyAddress.Email</p>

<h3>Thông tin đơn hàng</h3>

    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Hình Ảnh</th>
                <th>Số lượng</th>
                <th>Giá Gốc</th>
                <th>Giảm giá</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.ProductTitle</td>
                <td><img src="~/images/Product/@i.ImageProduct" width="100" height="100" style="border: solid 1px " /></td>
                <td>@i.PurchaseQuantity_Product</td>
                <td style="color:red">@PhoneShop.Extension.Extension.ToVnd((double)i.PurchasePrice_Product)</td>
                <td style="color:#FF8C00">@PhoneShop.Extension.Extension.ToVnd((double)i.DiscountVoucher)</td>
                <td style="color:red">@PhoneShop.Extension.Extension.ToVnd((double)i.FinalAmount)</td>
            </tr>
            @foreach (var item_DeliveryProcess in GetDeli)
            {
                if(i.OrderDetail_Id == item_DeliveryProcess.OrderDetail_Id)
                {
                    <tr>
                        <td colspan="2">Tình Trạng ĐH</td>
                        @if (item_DeliveryProcess.DeliveryStatus == 1)
                        {
                            <td colspan="2">Trạng thái ĐH: Đang xử lý</td>
                        }
                        else if (item_DeliveryProcess.DeliveryStatus == 2)
                        {
                            <td colspan="2">Trạng thái đơn hàng: Chuẩn bị hàng</td>
                        }
                        else if (item_DeliveryProcess.DeliveryStatus == 3)
                        {
                            <td colspan="2">Trạng thái đơn hàng: Đang giao hàng</td>
                        }
                        else if (item_DeliveryProcess.DeliveryStatus == 4)
                        {
                            <td colspan="2">Trạng thái đơn hàng: Đã giao hàng</td>
                        }
                        else
                        {
                            <td colspan="2">Trạng thái đơn hàng: Hủy đơn hàng</td>
                        }




                        <td colspan="2">@item_DeliveryProcess.DeliveryDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
               
            }
           
           
        }
        </tbody>
    </table>

