@model PhoneShop.Models.Booth_Information
@using PhoneShop.Models
@using PhoneShop.ModelViews
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";

    ShopAddress IsAddress = ViewBag.Address;
    Shipping_Method IsShipping = ViewBag.Shipping_Method;
    List<Check_Product_Purchases> IsCheckProductPurchases = ViewBag.JoinProduct;
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thông tin gian hàng</a>
        </li>
    </ul>
}
<br />

<!-- Main content -->
<section class="content">

    <div class="col-12">
        <div class="callout callout-info">
            <h5><i class="fas fa-info"></i> Note:</h5>
            This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
        </div>


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
               
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Thông tin <a href="/editInfoSeller-@Model.Id"><i class="fas fa-pen-square" style="color: #ea0b43;"></i></a></strong>
                    <address>
                      
                        Tên gian hàng: @Model.ShopName<br>
                        Email: @Model.Email<br>
                        Phone: @Model.Phone<br>
                        Ngày tạo: @Model.Creare_At
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong> Địa chỉ lấy hàng <a href="/editAddressShop-@IsAddress.Id"><i class="fas fa-pen-square" style="color: #ea0b43;"></i></a></strong>
                    <address>
                        
                        Người đại diện: @IsAddress.FullName<br>
                        Địa chỉ: @IsAddress.Address_Detail-@IsAddress.Address<br>                     
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong> Phương thức thanh toán <a href="/editShipping-@IsShipping.Id"><i class="fas fa-pen-square" style="color: #ea0b43;"></i></a></strong>
                    <address>

                       
                        Thanh toán trực tuyến:
                        @if (IsShipping.Online_Payment == 1)
                        {
                            <i class="fas fa-check" style="color: #2b99ee;"></i><br>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: #e63d45;"></i> <br>                          
                        }
                        COD:  @if (IsShipping.COD == 1)
                        {
                            <i class="fas fa-check" style="color: #2b99ee;"></i>

                            <br>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: #e63d45;"></i> <br>
                        }<br>
                       
                    </address>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên Sp</th>
                                <th>Hình Ảnh</th>
                                <th>Đã Bán</th>
                                <th>Còn lại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in IsCheckProductPurchases)
                            {
                                <tr>
                                    <td>@i.Id</td>
                                    <td>@i.Title</td>
                                    <td>455-981-221</td>
                                    <td>@i.Sold_Product</td>
                                    <td>@i.Remaining_Product</td>
                                </tr>
                            }
                           
                         
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

           
          
        </div>
        <!-- /.invoice -->
    </div><!-- /.col -->
</section>






<!-- /.content -->
@section scripts_SellerHome{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/admin/Category/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}

