@model PhoneShop.Models.Order_Details
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Info_Order_Address";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
    Order GetOrder = ViewBag.GetOrder;
    Product GetProduct = ViewBag.GetProduct;
    PaymentResponse GetPaymentResponse = ViewBag.GetPaymentResponse;
    DeliveryProcess GetDeliveryProcesses = ViewBag.GetDeliveryProcesses;
    Order_ProductPurchasePrice GetOrder_ProductPurchasePrice = ViewBag.GetOrder_ProductPurchasePrices;
    PaymentResponse_MoMo GetPaymentMoMo = ViewBag.GetPaymentResponse_MoMo;

    

}

<!-- DataTables -->
<link rel="stylesheet" href="~/clients/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<style>
    .transaction-table {
        width: 100%;
        border-collapse: collapse;
    }

        .transaction-table th, .transaction-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .transaction-table th {
            background-color: #f2f2f2;
        }

        .transaction-table .key {
            font-weight: bold;
            min-width:200px;
        }

        .transaction-table .value {
            font-family: monospace;
        }
</style>


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thông tin đơn hàng</a>
        </li>
    </ul>
}
<br />

<!-- Main content -->
<section class="content">

    <div class="col-12">


       

        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                       
                        <small style="color:blue" class="float-right">Ngày đặt hàng: @GetOrder.Order_Date.ToString("dd/MM/yyyy")</small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    Thông tin người nhận
                    <address>
                        <strong>Tên người nhận:</strong>@Model.Order_Name<br>
                        <strong>Địa chỉ:</strong> @Model.Address<br>
                        <strong>Số điện thoại:</strong> @Model.Phone<br>
                        <strong>Email:</strong> <a href="#">@Model.Email</a><br>

                        
                        @if (Model.AddressType == "1")
                        {
                            <strong>Loại địa chỉ:</strong>
                            <span> Chỗ ở cá nhân</span>

                        }
                        else if (Model.AddressType == "2")
                        {
                            <strong>Loại địa chỉ:</strong>
                            <span> Nơi làm việc</span>

                        }
                        else
                        {
                            <strong>Loại địa chỉ:</strong>
                            <span> Khác</span>
                        }
                        <br />

                        <strong>Ghi chú:</strong> @Model.Description<br>
                    </address>

                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  Thông tin đơn hàng
                    <address>
                        <strong>Mã đơn hàng:</strong> @Model.OrderId<br>

                        @if (Model.Status_OrderDetail == 1)
                        {
                           
                            @if (GetDeliveryProcesses != null)
                            {

                                <strong>Ngày cập nhật:</strong> @GetDeliveryProcesses.DeliveryDate.ToString("dd/MM/yyyy")

                                <br>

                                if(GetDeliveryProcesses.DeliveryStatus == 1)
                                {
                                    <strong>Tình trạng đơn hàng:</strong>  <span style="color:red">Đang xử lý</span>
                                }
                                else if (GetDeliveryProcesses.DeliveryStatus == 2)
                                {
                                    <strong>Tình trạng đơn hàng:</strong>  <span style="color:red">Chuẩn bị hàng</span>
                                }
                                else if (GetDeliveryProcesses.DeliveryStatus == 3)
                                {
                                    <strong>Tình trạng đơn hàng:</strong>  <span style="color:red">Đang giao hàng</span>
                                }
                                else if (GetDeliveryProcesses.DeliveryStatus == 4)
                                {
                                    <strong>Tình trạng đơn hàng:</strong>  <span style="color:red">Đã giao hàng</span>
                                } 
                                else
                                {
                                    <strong>Tình trạng đơn hàng:</strong>  <span style="color:red">Hủy đơn hàng</span>
                                }

                            }
                            else
                            {
                                <strong>Trạng thái đơn hàng:</strong>

                                <span>Đã xác nhận</span>
                            }
                        }
                        else
                        {
                            <strong>Trạng thái đơn hàng:</strong>

                            <span>Chưa xác nhận</span>
                        }
                       
                        <br>
                    </address>

                   
                </div>
                <!-- /.col -->
               
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                               
                                <th>Tên</th>
                                <th>Hình ảnh</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Tổng tiền   </th>
                                <th>Giảm MKM   </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               
                                <td>@GetProduct.Title</td>
                                <td><img src="~/images/Product/@GetProduct.ImageDefaultName" width="100" height="100" style="border: solid 1px " /></td>
                                <td>@Model.Quantity</td>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)Model.PurchasePrice_Product)</td>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)GetOrder_ProductPurchasePrice.FinalAmount!)</td>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)GetOrder_ProductPurchasePrice.DiscountAmount!)</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-12">
                   
                    @if (GetOrder.PaymentMethod == 1)
                    {
                        <p>Phương thức thanh toán :COD</p>
                    }

                    else if (GetOrder.PaymentMethod == 2)
                    {
                        <h1>Thông tin giao dịch Vnpay</h1>
                        <table class="transaction-table">
                            <tr>
                                <th class="key">Từ khóa</th>
                                <th class="value">Giá trị</th>
                            </tr>
                            <tr>
                                <td class="key">Trạng thái</td>
                                <td class="value">Thành công</td>
                            </tr>
                            <tr>
                                <td class="key">Ghi chú</td>
                                <td class="value">@GetPaymentResponse.OrderDescription</td>
                            </tr>
                            <tr>
                                <td class="key">Token</td>
                                <td class="value">@GetPaymentResponse.Token</td>
                            </tr>
                            <tr>
                                <td class="key">Trạng thái thanh toán</td>
                                <td class="value">@GetPaymentResponse.VnPayResponseCode</td>
                            </tr>
                            <tr>
                                <td class="key">Chú thích</td>
                                <td class="value">
                                    <ul>
                                        <li>00: Giao dịch thành công.</li>
                                        <li>01: Giao dịch đã tồn tại hoặc không hợp lệ.</li>
                                        <li>02: Ngân hàng từ chối thanh toán.</li>
                                        <li>99: Lỗi chưa xác định.</li>
                                        <li>24: Hủy giao dịch.</li>
                                    </ul>
                                </td>
                            </tr>

                        </table>
                       
                       
                        

                    }
                    else
                    {
                        <h1>Thông tin giao dịch MoMo</h1>
                        <table class="transaction-table">
                            <tr>
                                <th class="key">Từ khóa</th>
                                <th class="value">Giá trị</th>
                            </tr>
                            <tr>
                                <td class="key">Xác nhận thanh toán</td>
                                <td class="value">@GetPaymentMoMo.LocalMessage</td>
                            </tr>
                       
                            <tr>
                                <td class="key">Chữ ký số xác nhận</td>
                                <td class="value">@GetPaymentMoMo.Signature</td>
                            </tr>
                    
                        </table>
                    }

                  

                    
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <p class="lead">Ngày đặt hàng: @GetOrder.Order_Date.ToString("dd/MM/yyyy")</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Tổng tiền đơn hàng:</th>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)GetOrder_ProductPurchasePrice.TotalAmount!)</td>
                            </tr>
                            <tr>
                                <th>Voucher giảm giá</th>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)GetOrder_ProductPurchasePrice.DiscountAmount!)</td>
                            </tr>
                            <tr>
                                <th>Vận chuyển:</th>
                                <td>0 đ</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>@PhoneShop.Extension.Extension.ToVnd((double)GetOrder_ProductPurchasePrice.FinalAmount!)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-12">
                    <a href="/Order_Seller/ComfirmStatus/@Model.Id"  class="btn btn-default"><i class="fas fa-print"></i> Xác nhận DH </a>

                    @if (Model.Status_OrderDetail == 1) // Kiểm tra nếu đơn hàng đã xác nhận
                    {
                        <a href="/DeliveryProcess_Seller/Update_DeliveryProcess_Order_COD/@Model.Id" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> Cập nhật trạng thái
                        </a>
                    }
                </div>
            </div>
        </div>
        <!-- /.invoice -->


        </div>
        </section>


<!-- /.content -->
@section scripts_SellerHome{
    <!-- jQuery -->
    <script src="~/clients/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->

    <!-- AdminLTE App -->

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/admin/Category/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}
