
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>


    .container {
        background-color: white; 
        padding: 20px; 
        border-radius: 8px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        margin-bottom: 20px; 
    }

    h1 {
        margin: 0; 
        color: #007bff;
    }

    .row {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        margin-bottom: 20px; 
    }

    .message {
        flex: 1; 
        margin-right: 20px;
    }

    .btn-app {
        background-color: #007bff; 
        color: white;
        padding: 12px 20px; 
        border: none; 
        border-radius: 5px; 
        text-decoration: none; 
        display: inline-flex;
        align-items: center;
        transition: background-color 0.3s; 
        height: 100%; 
    }

        .btn-app:hover {
            background-color: #0056b3; 
        }

    .icon {
        margin-right: 5px; 
    }
</style>
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
       
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="container">
            <p style="font-size:20px;font-weight:bold">Thông Báo</p>
            
            @if (ViewBag.CheckProductIsApproved == 0 && ViewBag.checkDelBooth == 0)
            {
                <p style="color:red">Chưa có yêu cầu nào cần phê duyệt</p>
            }
           
            @if (@ViewBag.CheckProductIsApproved > 0)
            {
                <div class="row">
                    <p>Có @ViewBag.CheckProductIsApproved sản phẩm cần phê duyệt <i class="fas fa-lightbulb fa-pulse" style="color: yellow;"></i></p>
                    <a class="btn-app" href="/Admin/Product/Index">
                        <span class="icon">✏️</span> Tiến hành
                    </a>
                </div>
            }
           


            @if(@ViewBag.checkDelBooth > 0){
                <div class="row">
                    <p>Có <span style="color:red">@ViewBag.checkDelBooth</span> yêu cầu xóa gian hàng cần phê duyệt <i class="fas fa-lightbulb fa-pulse" style="color: yellow;"></i></p>
                    <a class="btn-app" href="/Admin/Booth/List_DelBooth">
                        <span class="icon">✏️</span> Tiến hành
                    </a>
                </div>
            }
            @if(ViewBag.CheckIsApproved > 0)
            {
                <div class="row">
                    <p>Có <span style="color:red">@ViewBag.CheckIsApproved</span> yêu cầu phê duyệt tạo gian hàng <i class="fas fa-lightbulb fa-pulse" style="color: yellow;"></i></p>
                    <a class="btn-app" href="/Admin/Booth/ListApproved">
                        <span class="icon">✏️</span> Tiến hành
                    </a>
                </div>
            }
          

           
        </div>

    </div><!-- /.container-fluid -->
    <div class="callout callout-info  container">
        <h5><i class="fas fa-table" style="color: #74C0FC;"></i>@ViewBag.DateNow</h5>
        Hôm nay có <span style="color:blue">@ViewBag.CheckOrToday</span> đơn hàng mới
    </div>
</section>


