@model PhoneShop.ModelViews.ProductViewModel
@using PhoneShop.Data;
@using PhoneShop.ModelViews;
@using PhoneShop.Extension;
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Details_Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ImageProductViewModel> IsImage = ViewBag.getListImage;

    List<Product_ReviewModelView> IsAsk = ViewBag.ListAsk;

    SpecificationsViewModel Ispecifi = ViewBag.GetSpecifi;


    List<ProductViewModel> IsSellingProduct = ViewBag.SellingProduct;



    Evaluate_ProductViewModel IsEvaluate_Pro = ViewBag.Evaluate_Product;

    BoothData GetBooth = ViewBag.GetBooth;

    List<Voucher> GetListVoucher = ViewBag.istVoucherBooth;



    List<Review_Product> IsReview = ViewBag.ListReview;
    

    double tienO = 0;

}



<link href="~/user/css/detail_product_user.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .title_detail{
        background: rgba(0, 0, 0, .02);
        color: rgba(0, 0, 0, .87);
        font-size: 2.125rem;
        font-weight: 400;
        margin: 0;
        padding: .875rem;
        text-transform: capitalize;
    }
    .container-question{
        border: 1px solid #ccc;
       margin:-12pt;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      
    }
    .color-text{
        color:black;
    }

    .star-container {
        font-size: 24px; /* Kích thước của sao */
    }

    .filled {
        color: gold; /* Màu cho sao đầy */
    }

    .half-filled {
        color: gold; /* Màu cho sao nửa */
    }

    /* Sao rỗng (nếu cần) */
    .star-container .fa-star-o {
        color: lightgray; /* Màu cho sao rỗng */
    }

   
</style>



<div class="single-product-area" style="padding-top:10px">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row" style="background:white">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background:white;padding:10px">
                        <li class="breadcrumb-item" style="font-size: 18px;"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">@ViewBag.getCategoryTitle</li>
                        <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-12" style="">
                <div class="product-content-right"> 
                  

                    <div class="row" >
                        <div class="col-sm-6">
                            <div class="image-gallery">
                                <div class="image-container product-main-img" style="max-width:290px">
                                    <img style="height:300px; width:300px" src="~/images/Product/@Model.ImageDefaultName" alt="Image 12" class="active">
                                </div>
                                <div class="thumbnail-container" style="margin-right:350px">
                                    @await Html.PartialAsync("_PartialListImage",IsImage)
                                   
                                </div>
                            </div>

                           
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name" style="color:#5a88ca">@Model.Title</h2>
                                <div style="display:flex">
                                    @if (ViewBag.AverageRating > 0)
                                    {
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= Math.Floor(ViewBag.AverageRating))
                                            {
                                                <i class="fa fa-star filled"></i> <!-- Sao đầy -->
                                            }
                                            else if (i == Math.Ceiling(ViewBag.AverageRating))
                                            {
                                                <i class="fa fa-star-half-o half-filled"></i> <!-- Sao nửa -->
                                            }
                                            else
                                            {
                                                <i class="fa fa-star-o"></i> <!-- Sao rỗng -->
                                            }
                                        }
                                        <a style="text-decoration:none">@ViewBag.AverageRating/5</a>
                                    }
                                    else
                                    {

                                        <i class="fa fa-star filled"></i>

                                        <a style="text-decoration:none">1/5</a>

                                        <p class="detail-label">Đã bán: @IsEvaluate_Pro.Purchases</p>
                                    }
                                    <p style="padding:0px 20px">|</p>
                                    <p class="detail-label" style="">Đã bán: @IsEvaluate_Pro.Purchases</p>
                                    <p style="padding:0px 20px">|</p>
                                    <p class="detail-label" style="">Đánh giá: @ViewBag.CountRwPrd</p>
                                </div>
                                
                                <div class="product-inner-category">
                                    <div class="product-inner-price">



                                        @{
                                            if (Model.Discount == 0 || Model.Discount == null || Model.Discount is string)
                                            {
                                                    <h3 style="color:red">
                                                        @{



                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)Model.Price); // "C" là định dạng tiền tệ




                                                        }
                                                        @formattedPrice
                                                    </h3>
                                            }
                                            else
                                            {
                                                    <h3 style="color:red">
                                                        @{



                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)Model.Discount); // "C" là định dạng tiền tệ




                                                        }
                                                        @formattedPrice
                                                    </h3>
                                            }
                                        }

                                        <del>
                                            @{
                                                string formattedPrice2;
                                                if (Model.Discount > 0)
                                                {
                                                    formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)Model.Price); // "C" là định dạng tiền tệ
                                                }
                                                else
                                                {

                                                    formattedPrice2 = PhoneShop.Extension.Extension.ToVnd(tienO); // "C" là định dạng tiền tệ
                                                }


                                            }
                                            @formattedPrice2




                                        </del>
                                    </div>
                                    <p class="detail-label">Hãng: <a style="color:#5a88ca">@ViewBag.getCategoryTitle</a></p>
                                   
                                   
                                       
                                       
                                       
                                       
                                       
                                   
                                    


                                   
                                    <p class="detail-label">@Model.Quantity Sản Phẩm Có Sẵn</p>
                                @*     <form asp-action="AddByDetail" asp-controller="Cart" method="post">
                                        <input type="text" value="@Model.Id" name="ProductId" hidden />
                                        <input type="number" size="4" class="input-text qty text" title="Qty" name="quantity" min="1" step="1">
                                        <input type="submit" value="submit" />
                                    </form> *@


                                   
                                    <div class="quantity">
                                        <form id="addToCartForm" asp-action="AddByDetail" asp-controller="Cart" method="post">
                                            <input type="text" value="@Model.Id" name="ProductId" hidden />
                                            <input type="number" size="4" class="input-text qty text" title="Qty" name="quantity" value="1" min="1" step="1" required>
                                            <input style="background:#ccebff;color:#5a88ca" class="add-to-cart-btn" type="submit" value="Thêm Vào Giỏ Hàng" />
                                        </form>
                                    </div>
                                    
                                   <br />
                                   <br />
                                    <a>Mã Giảm Giá Của Shop</a>
                                    <div class="voucher-container">
                                        @foreach (var item in GetListVoucher)
                                        {
                                            <div class="voucher">
                                                <div class="voucher-left">
                                                </div>
                                                <div class="voucher-right">
                                                    <h4 style="color:red">Giảm: @Extension.ToVnd((double)item.DiscountProduct)</h4>
                                                    <h4>Áp Dụng Sp Của Shop</h4>
                                                    <h4>@item.ExpiryDate.ToString("dd/MM/yyyy")</h4>
                                                </div>
                                            </div>

                                        }
                                        
                                        
                                       

                                    </div>
                                </div>
                              

                              
                                   

                               
                                <div class="booth-container" style="background:#f5f5f5">
                                    <div class="booth-info">
                                        <div class="avatar" style="margin-bottom: 15px;">
                                            <img src="~/images/AvatarBooth/@GetBooth.Avatar" alt="Avatar" class="booth-avatar" style="width: 80px; height: 80px; border-radius: 50%; border: 2px solid #007bff; object-fit: cover;">
                                        </div>
                                        <h3 style="color:#5a88ca;" class="booth-name color-text">@GetBooth.BoothName</h3>
                                        <div class="booth-details">
                                            <div class="detail-item">
                                                <span class="detail-label color-text">Sản phẩm:</span>
                                                <span class="detail-value color-text">@GetBooth.Quantity_Product</span>
                                            </div>
                                            <div class="detail-item">
                                                <span class="detail-label color-text">Đánh giá:</span>
                                                <span class="detail-value color-text">@GetBooth.Total_Comment</span>
                                            </div>
                                            <div class="detail-item">
                                                <span class="detail-label color-text">Người theo dõi:</span>
                                                <span class="detail-value color-text">@GetBooth.Followers</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/detail_booth/@GetBooth.BoothId" class="button-89" role="button">Xem Gian Hàng</a>

                                </div>



                               
                            </div>
                        </div>
                    </div>

                    <br />
                    <hr />
                    <div class="row" style="min-height:500px;background:white;padding:10px">
                        <div class="col-sm-5">
                            <p class="title_detail">THÔNG SỐ SẢN PHẨM</p>
                            <p><strong style="color:black">Camera:</strong> @Ispecifi.Camera</p>
                            <p><strong style="color:black">Bộ xử lý:</strong> @Ispecifi.Processor</p>
                            <p><strong style="color:black">Pin:</strong> @Ispecifi.Battery</p>
                            <p><strong style="color:black">Kết nối:</strong> @Ispecifi.Connectivity</p>
                            <p><strong style="color:black">Kích thước:</strong> @Ispecifi.DimensionsAndeight</p>
                            <p><strong style="color:black">Display:</strong> @Ispecifi.Display</p>
                            <p><strong style="color:black">Lưu trữ:</strong> @Ispecifi.InternalStorage</p>
                            <p><strong style="color:black">Hệ điều hành:</strong> @Ispecifi.OperatingSystem</p>
                            <p><strong style="color:black">Chống nước:</strong> @Ispecifi.WaterResistance</p>

                        </div>
                        <div class="col-sm-7" style="max-height: 500px;overflow-y: auto;">
                            <p class="title_detail">MÔ TẢ</p>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                    </div>
                            
                    
                    
                </div>
            </div>
            
           
          

         
            
            
        </div>
        <br />
        <div class="container-question" style="background:#f8f9fa">

            <!-- Form bình luận  -->
            <form id="rating-form" asp-action="Review_Product" asp-controller="ProductReview" asp-route-id="@Model.Id" method="post" style="height: auto; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 20px;">
                <h3 style="text-transform: capitalize;" class="title_rw mb-0">Đánh giá sản phẩm</h3>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div class="rating-container" style="margin-top: 10px; direction: rtl;">
                        <input type="radio" id="rating-5" name="rating" value="5" />
                        <label for="rating-5">&#9733;</label>5
                        <input type="radio" id="rating-4" name="rating" value="4" />
                        <label for="rating-4">&#9733;</label>4
                        <input type="radio" id="rating-3" name="rating" value="3" />
                        <label for="rating-3">&#9733;</label>3
                        <input type="radio" id="rating-2" name="rating" value="2" />
                        <label for="rating-2">&#9733;</label>2
                        <input type="radio" id="rating-1" name="rating" value="1" />
                        <label for="rating-1">&#9733;</label>1
                    </div>
                    <textarea id="comment" name="content" placeholder="Nhập đánh giá của bạn..." style="width: 80%; height: 80px;resize: none; margin-top: 10px;" required></textarea>
                    @if (User.IsInRole("Seller") || User.IsInRole("User"))
                    {
                        <input class="btn btn-success" style="color:white; margin-top:10px" type="submit" value="Gửi">
                    }
                    else
                    {
                        <a href="/Login.html" class="btn btn-success" style="color:white; margin-top:10px">Cần đăng nhập</a>
                    }
                </div>
            </form>
            <div id="comment-section" style="height:400px;background:white">

                <div class="card mb-4 border-0 bg-light">
                </div>
                @await Html.PartialAsync("_PartialProductReview",IsReview)


            </div>
        </div>
        <br /><br />
        <div class="container-question">

            <!-- Form bình luận -->
            <form id="comment-form" asp-action="Review_Product" asp-controller="Product" asp-route-id="@Model.Id" method="post" style="height: auto;">
                <h3 style="text-transform: capitalize;padding:10px;" class="title_rw mb-0">Hỏi và Đáp</h3>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <textarea id="comment" name="content" placeholder="Nhập bình luận của bạn..." style="width: 80%; height: 80px;resize: none;" required></textarea>

                    @if (User.IsInRole("Seller") || User.IsInRole("User"))
                    {
                        <input class="btn btn-success" style="color:white; margin-top:10px" type="submit" value="Gửi">
                    }
                    else
                    {
                        <a href="/Login.html" class="btn btn-success" style="color:white; margin-top:10px">Cần đăng nhập</a>
                    }
                </div>
            </form>
            <div id="comment-section" style="height:400px;">

                <div class="card mb-4 border-0 bg-light">
                </div>
                @await Html.PartialAsync("_PartialProductAsk",IsAsk)


            </div>

        </div>
       
    </div>
    @await Html.PartialAsync("_PartialDetail_ProductRelated",IsSellingProduct)
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @if (TempData["CheckCmt"] != null)
    {
        
        <script>
           
            swal({
                title: "Thông báo",
                text: "@Html.Raw(TempData["CheckCmt"])",
                icon: "success",
                button: "OK",
            }).then(() => {
                location.reload();
            });
        </script>
    }
    <script>
        $(document).ready(function () {
            $('#addToCartForm').on('submit', function (e) {
                e.preventDefault();

               
                
                    var formData = $(this).serialize();


                    $.ajax({
                        url: '@Url.Action("AddByDetail", "Cart")',
                        type: 'POST',
                        data: formData,
                        success: function (response) {


                            if (response.success) {

                            toastr.success(response.msg, 'Thành Công', {

                                closeButton: true,
                                progressBar: true,
                                timeOut: 2000,
                                positionClass: 'toast-top-right',
                                onHidden: function () {
                                    window.location.reload();
                                },

                            });
                            }
                            else {
                                swal({
                                    title: "Thông báo",
                                    text: response.msg,
                                    icon: "warning",
                                    button: "OK",
                                });
                            }
                        },
                        error: function (xhr, status, error) {

                            alert('Có lỗi xảy ra: ' + error);
                        }
                    });
               
            });
        });
    </script>
  
    <script>
        $(document).ready(function () {
            $('body').on('click', '.Delete_Review', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận xóa đánh giá");

                if (conf == true) {

                    $.ajax({

                        url: '/ProductReview/Del_ProductReview',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                // alert(rs.msg);
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });




        });
    </script>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.Delete_Ask', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận xóa đánh giá");

                if (conf == true) {

                    $.ajax({

                        url: '/ProductReview/Del_ProductAsk',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                // alert(rs.msg);
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });




        });
    </script>


    <script>
        const thumbnails = document.querySelectorAll('.thumbnail-container img');
        const mainImage = document.querySelector('.image-container img');

        thumbnails.forEach((thumbnail, index) => {
            thumbnail.addEventListener('click', () => {
                // Remove "active" class from all thumbnails
                thumbnails.forEach(t => t.classList.remove('active'));
                // Add "active" class to the clicked thumbnail
                thumbnail.classList.add('active');

                // Hide all main images
                mainImage.classList.remove('active');
                // Show the corresponding main image
                mainImage.src = thumbnail.src;
                mainImage.classList.add('active');
            });
        });
    </script>

    <script>
        const ratingInputs = document.querySelectorAll('.rating-container input[type="radio"]');

        ratingInputs.forEach(input => {
            input.addEventListener('change', () => {
                const selectedRating = input.value;
                console.log('Selected rating:', selectedRating);
            });
        });
    </script>






   
  

}
