@model PhoneShop.Models.Booth_Information
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";

    Delete_Booth delbooth = ViewBag.CheckDelBooth;


}
<style>
    .align-items-center {
        align-items: center; /* Canh giữa theo chiều dọc */
    }
</style>

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link"> Cài đặt </a>
        </li>
    </ul>
}
<section class="content">
    @if (TempData["Del_False"] != null)
    {
        <div class="alert alert-success">
            @TempData["Del_False"]
        </div>
    }
    @if (TempData["Del_True"] != null)
    {
        <div class="alert alert-success">
            @TempData["Del_True"]
        </div>
    }
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    
                </div>
            </div>
            <div class="card-body" style="height:700px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container mt-4">
                            <h5>Xóa tài khoản</h5>
                            <div class="d-flex align-items-center">
                                <i style="font-size:12px" class="mr-2">Bằng cách nhấn nút dưới đây, bạn sẽ xóa tài khoản của mình. Tất cả dữ liệu liên quan sẽ bị xóa vĩnh viễn và không thể khôi phục. Vui lòng cân nhắc trước khi thực hiện hành động này.</i>
                                
                                
                            </div>
                            @if(ViewBag.CheckDelBooth == null)
                            {
                                <button class="btn btn-danger" onclick="showReasonForm()">Xóa Gian Hàng</button>

                                <div id="reasonForm" style="display:none;">
                                    <h6>Lý do</h6>
                                    <form asp-action="DeleteBooth" asp-controller="Setting_Seller" method="post" onsubmit="return confirmDeletion();">
                                        <input name="boothid" value="@Model.Id" hidden />
                                        <input name="accountid" value="@Model.AccountId" hidden />
                                        <textarea name="content" placeholder="Nhập..." rows="4" cols="50"></textarea>
                                        <button class="btn btn-primary">Gửi</button>
                                    </form>

                                </div>
                            }
                            else
                            {
                                <div class="container mt-4">
                                    <p style="color:red" class="d-inline">Chờ quản trị viên xác nhận xóa gian hàng</p>
                                    <a class="btn btn-secondary ml-2 ReCall_DelBooth" data-id="@delbooth.Id">Thu hồi</a>
                                </div>
                                  
                            }

                            
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <div class="container mt-4">
                            <h5>Ẩn gian hàng</h5>
                            <p style="font-size:12px;margin-bottom:0px">
                                Trạng thái hiện tại: 

                                @if (Model.IsActive == true)
                                {
                                    <span style="color:blue">Đang hoạt động</span>
                                }
                                else
                                {
                                    <span style="color:red">Ẩn</span>
                                }

                            </p>
                            <div class="d-flex align-items-center">
                                <i style="font-size:12px" class="mr-2">Ẩn gian hàng, không hiển thị sản phẩm cho người dùng và ẩn cả những thông tin về gian hàng.</i>
                               


                            </div>
                            @if (Model.IsActive == true)
                            {
                                <button class="btn btn-danger hiddenbooth" data-id="@Model.Id">Ẩn</button>

                               
                            }
                            else
                            {
                                

                                    <a class="btn btn-success publicbooth" data-id="@Model.Id">Hoạt động</a>
                               

                            }


                        </div>
                        <hr />
                    </div>
               
            </div>
            
            </div>
        </div>
</div>
</section>



@section scripts_SellerHome{
    <script>
        function confirmDeletion() {
            return confirm("Bạn có chắc chắn muốn xóa gian hàng không?");
        }
    </script>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.ReCall_DelBooth', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận hủy yêu cầu xóa gian hàng");

                if (conf == true) {

                    $.ajax({

                        url: '/Setting_Seller/ReCall_DelBooth',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                alert("Thu hồi thành công");
                                location.reload();
                            }
                            else {
                                alert("Lỗi không thể thu hồi");
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('body').on('click', '.hiddenbooth', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận ẩn hoạt động gian hàng");

                if (conf == true) {

                    $.ajax({

                        url: '/Setting_Seller/HiddenBooth',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                            else {
                                alert("Lỗi");
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.publicbooth', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận hoạt động gian hàng");

                if (conf == true) {

                    $.ajax({

                        url: '/Setting_Seller/PublicBooth',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                            else {
                                alert("Lỗi");
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>






    <script>
    function showReasonForm() {
        document.getElementById('reasonForm').style.display = 'block';
    }

   
</script>
}

