@model IEnumerable<PhoneShop.ModelViews.VoucherViewModel>
@using System.Globalization;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<ImageProduct> IsCourseContents = ViewBag.imageproduct;

    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Quản lý voucher</a>
        </li>
    </ul>
}
<br />

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách voucher</h3>

            <div class="card-tools">
                <a href="/admin/VoucherAd/Create" ><i class="fas fa-folder-plus fa-lg" style="color: #046df6;"></i></a>
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Số tiền giảm
                        </th>
                        <th>
                            Điều kiện
                        </th>
                        <th>
                            Ngày hết hạn
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="trow_@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @{
                                    string formattedDiscountAmount = item.DiscountAmount.ToString("C", culture); // "C" là định dạng tiền tệ

                                }
                                @formattedDiscountAmount
                            </td>
                            <td>
                                @{
                                    string formattedDiscountConditions = item.DiscountConditions.ToString("C", culture); // "C" là định dạng tiền tệ

                                }
                                @formattedDiscountConditions
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="Update" asp-route-id="@item.Id">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                </a>

                                <a href="#" data-id="@item.Id" class="btnDelete btn btn-danger">
                                    <i class="fas fa-trash">
                                    </i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    </div>
    <!-- /.card -->

</section>



<!-- /.content -->
@section scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/admin/VoucherAd/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}