@using PhoneShop.ModelViews
﻿@using PhoneShop.Models
@model CartItemViewModel

@using PhoneShop.Extension
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{


    List<ImageProduct> IsCourseContents = ViewBag.imageproduct;

    var TotalShippingFee = 0;


}
<style>
    <!-- HTML ! -->
    
    /* CSS */
    .button-14 {
        background-image: linear-gradient(#f7f8fa,#e7e9ec);
        border-color: #adb1b8 #a2a6ac #8d9096;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
        box-sizing: border-box;
        color: #0f1111;
        cursor: pointer;
        display: inline-block;
        font-family: "Amazon Ember",Arial,sans-serif;
        font-size: 14px;
        height: 29px;
        font-size: 13px;
        outline: 0;
        overflow: hidden;
        padding: 0 11px;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }

    .button-14:active {
        border-bottom-color: #a2a6ac;
    }

        .button-14:active:hover {
            border-bottom-color: #a2a6ac;
        }

    .button-14:hover {
        border-color: #a2a6ac #979aa1 #82858a;
    }

    .button-14:focus {
        border-color: #e77600;
        box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
        outline: 0;
    }
    .product {
        display: flex;
       
        margin-bottom: 10px;
        text-align:center;
        
    }

    .product-name {
        flex: 1;
        text-align: left;
        font-size:15px;
    }

    .product-price, .product-quantity, .product-total {
        flex: 1;
        text-align: right;
    }

    .search-form {
        display: flex;
        align-items: center; 
        gap: 10px; 
    }

    .search-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px; 
        font-size: 16px;
    }

    .search-button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #28a745; /* Màu nền xanh */
        color: white; /* Màu chữ trắng */
        font-size: 16px;
        cursor: pointer; /* Con trỏ chuột */
        transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
    }

        .search-button:hover {
            background-color: #218838; /* Màu nền khi hover */
        }
    .payment_methods {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .payment_methods .payment_method_bacs,
        .payment_methods .payment_method_paypal {
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

            .payment_methods .payment_method_bacs h3,
            .payment_methods .payment_method_paypal h3 {
                margin: 0 10px;
                font-size: 1.2em;
            }

        .payment_methods .input-radio {
            margin-right: 10px;
        }

        .payment_methods label img {
            margin-left: 10px;
            height: 50px;
            vertical-align: middle;
        }

        .payment_methods .payment_box {
            display: none;
        }

</style>
<br />

<div class="single-product-area" style="padding-top:0px;padding-bottom:50px" >
    <div class="container" style="background:white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background:white;padding:10px">
                <li class="breadcrumb-item" style="font-size: 18px;"><a href="/~">Trang chủ</a></li>
                <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Giỏ hàng</li>
                <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Quá trình đặt hàng</li>
            </ol>
        </nav>
        <div class="zigzag-bottom"></div>
        <div class="container">
           
            <h3 style="color: #5a88ca;font-size: 20px;text-transform: uppercase;">
                Sản Phẩm
            </h3>


            @foreach (var item in Model.CartItems)
            {
                <div class="product">
                    <img width="100" height="150" alt="poster_1_up" class="shop_thumbnail" src="~/images/Product/@item.DataNameImage"><div class="product-name" style="text-align: center; vertical-align: middle;">@item.ProductName</div>
                    <div class="product-price" style="text-align: center; vertical-align: middle;">
                        @{
                            string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price); // "C" là định dạng tiền tệ

                        }

                        <span style="font-size: 13px;" class="amount">@formattedPrice</span>
                    </div>
                    <div class="product-quantity" style="text-align: center; vertical-align: middle;">@item.Quantity</div>
                    <div class="product-total" style="padding-right:10px;text-align: center; vertical-align: middle;">
                        @{
                            string formattedPriceTotal = PhoneShop.Extension.Extension.ToVnd((double)item.Total); // "C" là định dạng tiền tệ

                        }

                        <span style="font-size: 13px;color:red" class="amount">@formattedPriceTotal</span>
                    </div>
                </div>
               


                

            }

            <div class="row">
              

             



                



                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">

                            

                            <form enctype="multipart/form-data" asp-action="SubmitCheckOut" asp-controller="Cart" class="checkout" method="post" name="checkout">

                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>Thông tin nhận hàng</h3>


                                           
                                            @if (ViewBag.getMyAddress == null)
                                            {
                                                <p style="color:red">Hiện tại chưa có địa chỉ nhận hàng <a href="javascript:void(0)" id="toggle-address" style="color:white" class="btn btn-primary">Thêm địa chỉ</a></p>

                                                
                                            }
                                            else
                                            {
                                                <div class="input-group">
                                                    <b>Sử dụng địa chỉ mặc định </b>
                                                    <select style="padding: 8px" name="OptionAddress" class="form-control" onchange="toggleAddressFields()">
                                                        <option value="1">Có</option>
                                                        <option value="0">Không</option>
                                                    </select>
                                                </div>
                                            }

                                            <div id="address-fields" style="display: none;">
                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Tên người đặt hàng <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text"  value="" placeholder="Tên người nhận" id="billing_first_name" name="Order_Name" class="input-text ">
                                                </p>

                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Địa chỉ <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="Chi tiết địa chỉ" id="billing_first_name" name="Address" class="input-text ">
                                                </p>

                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Ghi chú <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="Ghi chú" id="billing_first_name" name="Description" class="input-text ">
                                                </p>

                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        loại địa chỉ <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <select name="AddressType" class="form-control tinh" style="height:60px">
                                                        <option value="1">Chỗ ở cá nhân</option>
                                                        <option value="2">Nơi làm việc</option>
                                                        <option value="3">Khác</option>
                                                    </select>

                                                </p>

                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Số điện thoại <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="Số điện thoại" id="billing_first_name" name="Phone" class="input-text ">
                                                </p>
                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Email <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="Email" id="billing_first_name" name="Email" class="input-text ">
                                                </p>
                                            </div>

                                            <label>Phương thức thanh toán</label>
                                            <ul class="payment_methods methods" style="display: flex; justify-content: space-between; list-style-type: none; padding: 0;">
                                                <li class="payment_method_bacs" style="flex: 1; margin-right: 10px; text-align: center;border:none">
                                                    <input type="radio" data-order_button_text="" checked="checked" value="1" name="PaymentMethod" class="input-radio" id="payment_method_bacs">
                                                    <h4>COD</h4>
                                                    <div class="payment_box payment_method_bacs">
                                                        @* <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p> *@
                                                    </div>
                                                </li>

                                                <li class="payment_method_paypal" style="flex: 1; margin-right: 10px; text-align: center;border:none;padding-right:60px">
                                                    <input type="radio" data-order_button_text="Proceed to PayPal" value="2" name="PaymentMethod" class="input-radio" id="payment_method_paypal">
                                                    <h4> Vnpay</h4> 
                                                    <br>
                                                   
                                                    <img style="" alt="VnPay Acceptance Mark" src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg">

                                                </li>
                                                <li class="payment_method_paypal" style="flex: 1; margin-right: 10px; text-align: center;border:none">
                                                    <input type="radio" data-order_button_text="Proceed to PayPal" value="3" name="PaymentMethod" class="input-radio" id="payment_method_momo">
                                                    <h4> MoMo</h4>
                                                    <br />
                                                   
                                                    <img style="height:50px" alt="MoMo Acceptance Mark" src="https://news.appotapay.com/wp-content/uploads/2022/01/cong-thanh-toan-momo-cac-hinh-thuc-tich-hop-huong-dan-tich-hop.jpg">

                                                </li>
                                               
                                            </ul>


                                        </div>
                                    </div>




                                </div>
                                <a></a>

                                <h3 id="order_review_heading">Đơn hàng của bạn</h3>

                                <div id="order_review" style="position: relative;">
                                    <table class="shop_table">
                                        @*  <thead>
                                        <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                        </tr>
                                        </thead> *@

                                        <tfoot>

                                             <tr class="cart-subtotal">
                                                <th style="font-weight:normal">Tổng đơn hàng</th>
                                            <td>
                                                    <span class="amount">@PhoneShop.Extension.Extension.ToVnd((double)ViewBag.GrandTotal)</span>
                                            </td>
                                            </tr>


                                            <tr class="shipping">
                                                <th style="font-weight:normal">Phí vận chuyển</th>
                                            <td>
                                                   
                                                    <p>Phí vận chuyển 15.000đ</p>
                                                   
                                                   
                                               


                                                    @if (ViewBag.ShippingFee  != null)

                                                    {
                                                        <p>Giảm:  @PhoneShop.Extension.Extension.ToVnd((double)ViewBag.ShippingFee) </p>
                                                       
                                                        <a class=" RemoveApplyFreeShip">Hủy bỏ áp dụng miễn phí vận chuyển</a>
                                                    }
                                                    <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                            </td>
                                            </tr>


                                            <tr class="order-total">
                                                <th style="font-weight:normal">Tổng đơn hàng</th>
                                                <td>
                                                    <strong>
                                                        <span class="amount" style="color:red">

                                                            @if (ViewBag.ShippingFee == null)
                                                            {
                                                                @PhoneShop.Extension.Extension.ToVnd((double)ViewBag.GrandTotal + 15000 )

                                                            }
                                                            else
                                                            {
                                                                @PhoneShop.Extension.Extension.ToVnd((double)ViewBag.GrandTotal + (double)TotalShippingFee )

                                                            }


                                                        </span>
                                                    </strong>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>


                                   
                                </div>

                                <div class="form-row place-order" style="float:right; padding: 0px 10px 10px 0px">

                                    <input type="submit" data-value="Place order" value="Đặt hàng" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                </div>

                                <div class="clear"></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts{

    <script>
        function toggleAddressFields() {
            var optionAddress = document.querySelector('select[name="OptionAddress"]');
            var addressFields = document.getElementById('address-fields');

            if (optionAddress.value === '0') {
                addressFields.style.display = 'block';
            } else {
                addressFields.style.display = 'none';
            }
        }
    </script>
    <script>
        document.getElementById("toggle-address").addEventListener("click", function () {
            var addressFields = document.getElementById("address-fields");
            if (addressFields.style.display === "none") {
                addressFields.style.display = "block";
            } else {
                addressFields.style.display = "none";
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.RemoveApplyFreeShip', function () {






                $.ajax({

                    url: '/Cart/RemoveApplyFreeShip',
                    type: 'post',

                    success: function (rs) {
                        if (rs.success) {
                            alert("Đã hủy");

                            location.reload();
                        }
                    }

                });


            });


        });
    </script>

    @if (TempData["CheckOrderInfo"] != null)
    {

        <script>

            swal({
                title: "Thông báo",
                text: "@Html.Raw(TempData["CheckOrderInfo"])",
                icon: "success",
                button: "OK",
            }).then(() => {
                location.reload();
            });
        </script>
    }

}



