@using PhoneShop.ModelViews
﻿@using PhoneShop.Models
@using PhoneShop.Extension
@model CartItemViewModel
@{


    List<ImageProductViewModel> IsCourseContents = ViewBag.imageproduct;
    VoucherItemViewModel IsVoucherVM = ViewBag.voucherVM;
    // List<ProductViewModel> IsProduct = ViewBag.RelatedProduc;
    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

    int tienO = 0;


    List<ProductViewModel> List_Selling = ViewBag.ListSelling;

}
<style>
    .title_all {
        
        color: rgba(0, 0, 0, .87);
        font-size: 2.125rem;
        font-weight: 400;
        margin: 0;
        padding: .875rem;
        text-transform: capitalize;
        display: inline-block;
        
    }

    .title_all_inline {
        background: rgba(0, 0, 0, .02);
        color: rgba(0, 0, 0, .87);
        font-size: 2.125rem;
        font-weight: 400;
        margin: 0;
        padding: .875rem;
        text-transform: capitalize;
        
    }
</style>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    @if (TempData["Check_Quantity_Product"] != null)
    {
        <div class="alert alert-success">
            @TempData["Check_Quantity_Product"]
        </div>
    }
    @if (TempData["VoucherNull"] != null)
    {
        <div class="alert alert-success">
            @TempData["VoucherNull"]
        </div>
    }
    @if (TempData["OutOfDiscount"] != null)
    {
        <div class="alert alert-danger">
            @TempData["OutOfDiscount"]
        </div>
    }
    @if (TempData["ValueNull"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ValueNull"]
        </div>
    }
    @if (TempData["VoucherNull_Cart"] != null)
    {
        <div class="alert alert-danger">
            @TempData["VoucherNull_Cart"]
        </div>
    }

    @if (TempData["ApplySuccess"] != null)
    {
        <div class="alert alert-success">
            @TempData["ApplySuccess"]
        </div>
    }

    @if (TempData["OrderSuccess"] != null)
    {
        <div class="alert alert-success">
            @TempData["OrderSuccess"]
        </div>
    }
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="~/user/custom/cards_user.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">


<div class="single-product-area" style="padding-top:0px">
  
    <div class="zigzag-bottom"></div>
    <div class="container" style="background:white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background:white;padding:10px">
                    <li class="breadcrumb-item" style="font-size: 18px;"><a href="/~">Trang chủ</a></li>
                    <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Giỏ hàng</li>
                </ol>
            </nav>

        </div>
        <div class="row">
            

            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">
                        @if (Model.CartItems.Count > 0)
                        {
                            <form method="post" asp-action="CheckOut" asp-controller="Cart">
                                <table cellspacing="0" class="shop_table cart table no-border">
                                    <thead style="background:white">
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model.CartItems)
                                        {
                                            <tr class="cart_item" id="trow_@item.ProductId">
                                                <td>
                                                    <a class="btnDelete" data-id="@item.ProductId"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>

                                                <td class="product-thumbnail ">
                                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/images/Product/@item.DataNameImage"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a style="font-size: 13px;" href="single-product.html">@item.ProductName</a>
                                                </td>

                                                <td class="product-price">
                                                    @{
                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price); // "C" là định dạng tiền tệ

                                                    }

                                                    <span style="font-size: 13px;" class="amount">@formattedPrice</span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added" style="width: 200px; margin:auto">
                                                        <a asp-action="tru" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn btn-link minus" style="font-size: 12px;"><i class="fa fa-minus"></i></a>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="@item.Quantity" min="0" step="1" readonly style="font-size: 12px;">
                                                        <a asp-action="cong" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn btn-link minus" style="font-size: 12px;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    @{
                                                        string formattedPriceTotal = PhoneShop.Extension.Extension.ToVnd((double)item.Total); // "C" là định dạng tiền tệ

                                                    }

                                                    <span style="font-size: 13px;color:red" class="amount">@formattedPriceTotal</span>
                                                </td>
                                            </tr>


                                            <tr style="border-bottom:1px inset">
                                                <td colspan="3">
                                                    <div class="voucher-container">
                                                        <a href="#" class="List_Voucher" data-id="@item.ProductId">Xem Voucher Của Shop</a>

                                                    </div>
                                                </td>
                                                <td colspan="3">
                                                    @if (item.Discount_Product > 0)
                                                    {
                                                        <p style="color:#99ebff">Đã giảm @Extension.ToVnd((double)item.Discount_Product)</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:red">Hiện chưa sử dụng phiếu giảm giá</p>
                                                    }
                                                </td>


                                            </tr>

                                        }




                                        <tr>
                                            <td class="actions" colspan="6">


                                                @if (User.Identity.IsAuthenticated && (User.IsInRole("User")) || (User.IsInRole("Seller")))
                                                {
                                                    <input type="submit" value="Thanh Toán" name="proceed" style="background:#d7f9fa;color:black" class="btn btn-info active">

                                                }
                                                else
                                                {
                                                    <p>Bạn chưa đăng nhập. <a class="btn btn-success" href="/Login.html">Đăng nhập</a></p>
                                                }

                                            </td>

                                        </tr>

                                    </tbody>

                                </table>
                            </form>
                        }
                        else
                        {
                            <p>Chưa có sản phẩm trong giỏ hàng</p>
                        }



                       

                        <div class="coupon">
                            <form method="post" asp-action="ApplyVoucher" asp-controller="Cart">
                                <label style="text-transform: capitalize;" for="coupon_code">Áp dụng khuyến mãi:</label>
                                <input type="text" placeholder="mã giảm giá" value="" id="coupon_code" class="input-text" name="Voucher_code">
                               
                                <input type="submit" value="Áp dụng" name="áp dụng" style="background:#d7f9fa;color:black" class="btn btn-info active">
                            </form>
                            
                           
                            <div class="voucher-list">
                                <div class="title_all">Mã giảm giá của bạn</div>
                               
                                <ul class="voucher-items">
                                    @foreach (var i in IsVoucherVM.VoucherItems)
                                    {
                                        <li>
                                            <div class="voucher-item">
                                                <h3></h3>
                                                <p>Mã: @i.Code</p>
                                                <p>Điều kiện: @PhoneShop.Extension.Extension.ToVnd((double)i.DiscountConditions)</p>
                                                <p>Giảm: @PhoneShop.Extension.Extension.ToVnd((double)i.DiscountAmount)</p>
                                                <p>Hiệu lực: @i.ExpiryDate</p>
                                            </div>
                                        </li>
                                    }
                                   
                               
                                </ul>
                            </div>
                        </div>
                        <br />

                        <div class="cart-collaterals">


                         


                            <div class="cart_totals ">
                                <h2 style="text-transform: capitalize;">Tổng giỏ hàng</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th><div style="color:black" class="title_all">tổng giỏ hàng</div></th>
                                            @{
                                                string formattedGrandTotal = ViewBag.GrandTotal.ToString("C", culture); // "C" là định dạng tiền tệ

                                            }
                                            <td><span class="amount">@formattedGrandTotal</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th style="text-transform: capitalize;">Vận chuyển</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th style="text-transform: capitalize;">Tổng đơn hàng</th>
                                            @{
                                                string OrderTotal = ViewBag.OrderTotal.ToString("C", culture); // "C" là định dạng tiền tệ

                                            }
                                            <td><strong><span class="amount">@OrderTotal</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                        </div>
                        <hr />
                        @await Html.PartialAsync("../Product/_PartialDetail_ProductRelated",List_Selling)
                        <br />
                                
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="dialog">
        <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
    </div>
</div>
@section Scripts{
    
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muon xoa chua"+id);

                if (conf == true) {

                    $.ajax({

                        url: '/Cart/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                // alert(rs.msg);
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>

        <script>
            $(document).ready(function () {

                //dialog anh

                $("#dialog").dialog({
                    autoOpen: false,
                    show: "fade",
                    hide: "fade",
                    modal: true,
                    height: '600',
                    width: '700',
                    resizable: true,
                    title: '',
                    close: function () {
                        window.location.reload();
                    }
                });
                $('body').on('click', '.List_Voucher', function () {

                    var proid = $(this).attr("data-id");
                    $("#dialog #myiframe").attr("src", "/Cart/List_Voucher_Booth?id=" + proid);
                    $("#dialog").dialog('open');
                    return false;

                });

               



            });


        </script>
       



}