@using PhoneShop.ModelViews
﻿@using PhoneShop.Models
@using PhoneShop.Extension
@model CartItemViewModel
@{


    List<ImageProductViewModel> IsCourseContents = ViewBag.imageproduct;
    VoucherItemViewModel IsVoucherVM = ViewBag.voucherVM;
    // List<ProductViewModel> IsProduct = ViewBag.RelatedProduc;
    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

    int tienO = 0;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Check_Quantity_Product"] != null)
{
    <div class="alert alert-success">
        @TempData["Check_Quantity_Product"]
    </div>
}
@if (TempData["VoucherNull"] != null)
{
    <div class="alert alert-success">
        @TempData["VoucherNull"]
    </div>
}
@if (TempData["OutOfDiscount"] != null)
{
    <div class="alert alert-danger">
        @TempData["OutOfDiscount"]
    </div>
}
@if (TempData["ValueNull"] != null)
{
    <div class="alert alert-danger">
        @TempData["ValueNull"]
    </div>
}
@if (TempData["VoucherNull_Cart"] != null)
{
    <div class="alert alert-danger">
        @TempData["VoucherNull_Cart"]
    </div>
}

@if (TempData["ApplySuccess"] != null)
{
    <div class="alert alert-danger">
        @TempData["ApplySuccess"]
    </div>
}

@* @if (TempData["OrderSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["OrderSuccess"]
    </div>
} *@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<style>
    .minus {
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }

        .minus:hover {
            color: #888;
            text-decoration: none;
        }

    td.product-name {
        font-size: 14px;
    }

    table.shop_table th {
        
        font-size: 13px;
       
    }


</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 18px;"><a href="/~">Trang chủ</a></li>
            <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Giỏ hàng</li>
        </ol>
    </nav>

</div>

<div class="single-product-area" style="padding-top:30px">
  
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">


                <div class="single-sidebar">
                    <h2 class="sidebar-title">Bài đăng gần đây</h2>

                   @*  @foreach (var itemm in IsProduct)
                    {
                        <div class="thubmnail-recent">
                            <img src="~/images/Product/@itemm.ImageDefaultName" class="recent-thumb" alt="">
                            <h2><a href="">@itemm.Title</a></h2>
                            <div class="product-sidebar-price">
                                @{
                                    if (itemm.Discount == 0 || itemm.Discount == null || itemm.Discount is string)
                                    {
                                        <ins>
                                            @{
                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)itemm.Price); // "C" là định dạng tiền tệ
                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                    else
                                    {
                                        <ins>
                                            @{
                                                string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)itemm.Discount); // "C" là định dạng tiền tệ
                                            }
                                            @formattedPrice
                                        </ins>
                                    }
                                }

                                <del>
                                    @{
                                        string formattedPriceee;
                                        if (itemm.Discount > 0)
                                        {
                                            formattedPriceee = PhoneShop.Extension.Extension.ToVnd((double)itemm.Price); // "C" là định dạng tiền tệ
                                        }
                                        else
                                        {

                                            formattedPriceee = PhoneShop.Extension.Extension.ToVnd(tienO); // "C" là định dạng tiền tệ
                                        }


                                    }
                                    @formattedPriceee




                                </del>
                            </div>
                        </div>
                    } *@



                </div>


            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" asp-action="CheckOut" asp-controller="Cart" >
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if(Model.CartItems.Count > 0)
                                    {
                                        @foreach(var item in Model.CartItems)
                                        {
                                            <tr class="cart_item" id="trow_@item.ProductId">
                                                <td >
                                                    <a class="btnDelete"  data-id="@item.ProductId">x</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/images/Product/@item.DataNameImage"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="single-product.html">@item.ProductName</a>
                                                </td>

                                                <td class="product-price">
                                                    @{
                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price); // "C" là định dạng tiền tệ

                                                    }
                                                   
                                                    <span class="amount">@formattedPrice</span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <a asp-action="tru" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn btn-link minus" style="font-size: 12px;"><i class="fa fa-minus"></i></a>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="@item.Quantity" min="0" step="1" readonly style="font-size: 12px;">
                                                        <a asp-action="cong" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn btn-link minus" style="font-size: 12px;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    @{
                                                        string formattedPriceTotal = PhoneShop.Extension.Extension.ToVnd((double)item.Total); // "C" là định dạng tiền tệ

                                                    }

                                                    <span style="color:red" class="amount">@formattedPriceTotal</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else{
                                        <td colspan="6" class="product-name">
                                            <a style="color:red" href="single-product.html">Giỏ hàng rỗng không thể thanh toán 

                                                

                                        </a>
                                    </td>

                                    }
                                    

                                   
                                    <tr>
                                        <td class="actions" colspan="6">
                                           @*  <div class="coupon">
                                                <label for="coupon_code">Coupon:</label>
                                                <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                                                <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                                            </div> *@
                                           @*  <input type="submit" value="Update Cart" name="update_cart" class="button"> *@
                                           
                                            @if (User.Identity.IsAuthenticated && (User.IsInRole("Staff")))
                                            {
                                                <input type="submit" value="Checkout" name="proceed" class="checkout-button button alt wc-forward">

                                            }
                                            else
                                            {
                                            <p>Bạn chưa đăng nhập. <a class="btn btn-success" href="/Login.html">Đăng nhập</a></p>
                                            }

                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </form>

                        <div class="coupon">
                            <form method="post" asp-action="ApplyVoucher" asp-controller="Cart">
                                <label for="coupon_code">mã giảm giá:</label>
                                <input type="text" placeholder="mã giảm giá" value="" id="coupon_code" class="input-text" name="Voucher_code">
                               
                                <input type="submit" value="Apply Coupon" name="áp dụng" class="button">
                            </form>
                            @foreach (var i in IsVoucherVM.VoucherItems)
                            {
                                <p>@i.Code</p>
                            }
                        </div>
                        <br />

                        <div class="cart-collaterals">


                            <div class="cross-sells">
                                <h2>Có thể bạn quan tâm...</h2>
                                <ul class="products">
                                    <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>
                                      <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>
                                      <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>
                                      <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>


                                  
                                </ul>
                            </div>


                            <div class="cart_totals ">
                                <h2>Tổng giỏ hàng</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tổng giỏ hàng</th>
                                            @{
                                                string formattedGrandTotal = ViewBag.GrandTotal.ToString("C", culture); // "C" là định dạng tiền tệ

                                            }
                                            <td><span class="amount">@formattedGrandTotal</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Vận chuyển</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Tổng đơn hàng</th>
                                            @{
                                                string OrderTotal = ViewBag.OrderTotal.ToString("C", culture); // "C" là định dạng tiền tệ

                                            }
                                            <td><strong><span class="amount">@OrderTotal</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muon xoa chua"+id);

                if (conf == true) {

                    $.ajax({

                        url: '/Cart/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                // alert(rs.msg);
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}