@model PhoneShop.Areas.Admin.Data.ProductData
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
}




<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<style>

    .image-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

        .image-preview img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .remove-image {
        cursor: pointer;
        color: red;
        margin-left: 5px;
    }


    .form-group.d-flex {
        display: flex !important;
        align-items: center;
    }

        .form-group.d-flex p {
            margin-bottom: 0;
            margin-right: 0.5rem;
        }

        .form-group.d-flex .price-display {
            flex: 1;
        }
    .price-input-wrapper {
        display: flex;
        align-items: center;
    }

    .price-input {
        flex: 1;
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .price-display {
        margin-left: 8px;
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f5f5f5;
        color: #333;
        cursor: not-allowed;
        flex-grow: 0;
    }
</style>

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link"> Thêm sản phẩm </a>
        </li>
    </ul>
}
<br />
<section class="content">

    <div class="col-12">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Thêm sản phẩm</h3>
            </div>
            @if (TempData["CheckPrice"] != null)
            {
                <div class="alert alert-success">
                    @TempData["CheckPrice"]
                </div>
            }
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create" asp-controller="Product_Seller" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="IsActive" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Hiển thị</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="IsOld" class="custom-control-input" id="customSwitch12">
                            <label class="custom-control-label" for="customSwitch12">Sản phẩm cũ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Nội dung</label><span class="text-danger">*</span>

                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Nội dung", @id = "summernote" })
                        @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label asp-for="InputPrice" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="InputPrice"  id="InputPrice" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <div class="form-group d-flex align-items-center">
                            <p class="mb-0 mr-2">Tiền tệ VN:</p>
                            <input type="text" id="InputPriceDisplay" class="form-control price-display" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="Price"  class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <div class="form-group d-flex align-items-center">
                            <p class="mb-0 mr-2">Tiền tệ VN:</p>
                            <input type="text" id="PriceDisplay" class="form-control price-display" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Discount"  class="control-label"></label>
                        <input asp-for="Discount" value="0" id="Discount" class="form-control" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                        <div class="form-group d-flex align-items-center">
                            <p class="mb-0 mr-2">Tiền tệ VN:</p>
                            <input type="text" id="DiscountDisplay" class="form-control price-display" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Số lượng</label><span class="text-danger">*</span>
                        <input asp-for="Quantity" class="form-control" />
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Hãng</label><span class="text-danger">*</span>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
             
              @*       <div class="form-group">
                        <label for="exampleInputFile">File input</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="files" class="form-control custom-file-input" id="fileInput" multiple>
                                <label class="custom-file-label" for="exampleInputFile" >Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div> *@


                   
                     
                        <div class="form-group">
                            <label for="fileInput">Ảnh Sản Phẩm</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" name="files" class="form-control custom-file-input" id="fileInput" multiple>
                                    <label class="custom-file-label" for="fileInput">Chọn file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Tải Lên</span>
                                </div>
                            </div>
                        </div>

                        <div class="image-preview" id="imagePreview"></div>
                   


                   

                   


                    <h3 style="color: #333; background-color: #f2f2f2; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                        Thông số kỹ thuật
                    </h3>


                    <div class="form-group">
                        <label class="control-label">Màn hình</label><span class="text-danger">*</span>
                        <input name="Display" class="form-control" required />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Hệ điều hành</label><span class="text-danger">*</span>
                        <input name="OperatingSystem" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">CPU</label>
                        <input name="Processor" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Bộ nhớ trong</label>
                        <input name="InternalStorage" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">RAM</label>
                        <input name="RandomAccessMemory" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Camera</label>
                        <input name="Camera" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Pin</label>
                        <input name="Battery" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">Chống nước</label>
                        <input name="WaterResistance" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Kích thước và trọng lượng</label>
                        <input name="DimensionsAndeight" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">Màu sắc</label>
                        <input name="Color" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">Kết nối</label>
                        <input name="Connectivity" class="form-control" />

                    </div>
                </div>
                <!-- /.card-body -->

               


               


                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>


            </form>

        </div>

        </div></section>









@section scripts_SellerHome{
    <!-- include summernote css/js -->
    
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Nội dung',
            tabsize: 2,
            height: 100
        });
    </script>
    <script>
        const priceInput = document.getElementById('InputPrice');
        const priceInputDisplay = document.getElementById('InputPriceDisplay');

        priceInput.addEventListener('input', function () {
            // Loại bỏ tất cả ký tự không phải số
            let numericValue = this.value.replace(/\D/g, '');

            // Định dạng lại giá trị theo định dạng tiền tệ VND
            priceInputDisplay.value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(numericValue);
        });
    </script>
    <script>
        const price = document.getElementById('Price');
        const priceDisplay = document.getElementById('PriceDisplay');

        price.addEventListener('input', function () {
            // Loại bỏ tất cả ký tự không phải số
            let numericValue = this.value.replace(/\D/g, '');

            // Định dạng lại giá trị theo định dạng tiền tệ VND
            priceDisplay.value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(numericValue);
        });
    </script>
    <script>
        const Discount = document.getElementById('Discount');
        const DiscountDisplay = document.getElementById('DiscountDisplay');

        Discount.addEventListener('input', function () {
            // Loại bỏ tất cả ký tự không phải số
            let numericValue = this.value.replace(/\D/g, '');

            // Định dạng lại giá trị theo định dạng tiền tệ VND
            DiscountDisplay.value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(numericValue);
        });
    </script>





    <script>
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');

        fileInput.addEventListener('change', (event) => {
            imagePreview.innerHTML = ''; // Xóa nội dung cũ
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = (e) => {
                    const img = document.createElement('img');
                    img.src = e.target.result;

                    const div = document.createElement('div');
                    div.className = 'image-container';
                    div.appendChild(img);

                    const removeBtn = document.createElement('span');
                    removeBtn.className = 'remove-image';
                    removeBtn.innerHTML = 'Xóa';
                    removeBtn.onclick = () => {
                        div.remove();
                    };

                    div.appendChild(removeBtn);
                    imagePreview.appendChild(div);
                };

                reader.readAsDataURL(file);
            }
        });
    </script>


   


}

