@model IEnumerable<PhoneShop.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
    int index = 1;
}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/clients/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/clients/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/clients/dist/css/adminlte.min.css">



<section class="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header">   
                <h3 class="card-title mb-0">Danh sách sản phẩm</h3>
                <div class="float-right">
                    <a class="btn btn-primary" href="/Product_Seller/Create">
                        Thêm
                    </a>
                </div>
            </div>
           
            <!-- /.card-header -->
            <div class="card-body" >
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Kiểm duyệt</th>
                            <th>Hình ảnh</th>
                            <th>Giá bán</th>
                            <th>Giảm giá</th>
                            <th>Danh mục</th>
                            <th>Số lượng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var i in Model)
                        {
                            <tr id="trow_@i.Id">
                                <td>@(index++)</td>
                                <td>
                                    <p>@i.Title</p>
                                </td>
                                <td>
                                    @if(i.IsActive == true)
                                    {
                                        <a class="UpdateActive" data-id="@i.Id" style="text-align:center"><i class="fas fa-check" style="color: #2268e2;"></i></a>
                                    }
                                    else
                                    {
                                        <a class="UpdateActive" data-id="@i.Id" style="text-align:center"><i class="fas fa-times" style="color: #e11428;"></i></a>
                                        
                                    }
                                </td>
                                <td>
                                    @if (i.IsApproved == true)
                                    {
                                        <p style="text-align:center"><i class="fas fa-check" style="color: #2268e2;"></i></p>
                                    }
                                    else
                                    {
                                        <p style="text-align:center"><i class="fas fa-times" style="color: #e11428;"></i></p>

                                    }
                                </td>
                                <td>
                                    <a class="imgproduct"  data-id="@i.Id">
                                        <img src="~/images/Product/@i.ImageDefaultName" width="100" height="100" style="border: solid 1px " />
                                    </a>
                                </td>
                                <td style="color:red"> @PhoneShop.Extension.Extension.ToVnd((double)i.Price)</td>
                                <td style="color:orange"> @PhoneShop.Extension.Extension.ToVnd((double)i.Discount)</td>
                                <td><img width="100" height="100" src="~/images//Category/@i.Category.Image"></td>
                                <td>@i.Quantity</td>
                                <td>
                                    <a href="/Product_Seller/Detail_Product_Seller/@i.Id"> <i class="fas fa-eye fa-lg" style="color: #74C0FC;"></i></a>
                                    <a href="/Product_Seller/Edit/@i.Id"><i class="fas fa-edit fa-lg" style="color: #FFD43B;"></i></a>
                                    <a class="btnDelete" data-id="@i.Id">
                                        <i class="far fa-trash-alt fa-lg" style="color: #f70808;"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                       
                    </tbody>
                   
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>
@section scripts_SellerHome{
    <!-- jQuery -->
    <script src="~/clients/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/clients/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/clients/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/jszip/jszip.min.js"></script>
    <script src="~/clients/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/clients/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  
   



    <!-- AdminLTE App -->
    <script src="~/clients/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
@*     <script src="~/clients/dist/js/demo.js"></script>
 *@    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: '          ',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.imgproduct', function () {

                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/Product_Seller/GetListImage?id=" + proid);
                $("#dialog").dialog('open');
                return false;

            });

        });

    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/Product_Seller/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.UpdateActive', function () {
                var id = $(this).data('id');

                var conf = confirm("Cập nhật trạng thái");

                if (conf == true) {

                    $.ajax({

                        url: '/Product_Seller/UpdateActive',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                            else {
                                alert("Lỗi không thể xóa");
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}

