@model List<PhoneShop.Models.Voucher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

   
}


<style>
    .coupon-card {
        background-color: white;
        border: 1px solid #e0e0e0; 
        border-radius: 5px;
        padding: 20px; 
        text-align: center;
        margin: 20px;
        position: relative;
    }

    .icon-info {
        position: absolute; 
        top: 10px;
        right: 10px;
        font-size: 18px; 
        color: #5a88ca;
    }

    .coupon-code {
        font-size: 24px; 
        font-weight: bold; 
        color: #d32f2f;
        margin: 10px 0; 
    }

    .expiration {
        font-size: 14px;
        color: gray;
    }

    .btn-copy {
        background-color: #5a88ca;
        color: white; 
    }

    <!-- HTML ! -->
   
    /* CSS */
    .button-55 {
        align-self: center;
        background-color: #fff;
        background-image: none;
        background-position: 0 90%;
        background-repeat: repeat no-repeat;
        background-size: 4px 3px;
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        box-sizing: border-box;
        color: #41403e;
        cursor: pointer;
        display: inline-block;
        font-family: Neucha, sans-serif;
        font-size: 1rem;
        line-height: 23px;
        outline: none;
        padding: .75rem;
        text-decoration: none;
        transition: all 235ms ease-in-out;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-55:hover {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
    }

    .button-55:focus {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }
</style>


<br />


<div class="container" style="min-height:600px;background:white">


    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background:white;margin-bottom:0px">
                <li class="breadcrumb-item" style="font-size: 18px;"><a href="~/">Trang chủ</a></li>
                <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Mã giảm giá</li>
            </ol>
            <p style="color:red; font-size:12px">Mã Giảm Giá Chỉ Áp dụng Cho Sản Phẩm Thuộc Gian Hàng</p>
        </nav>


    </div>
    
    <div class="row">
       
        @foreach(var item in Model)
        {
            <div class="col-md-3" >
                <div class="coupon-card" style="height:210px">
                    @if(item.IsAdmin == true)
                    {
                        <i class="fa fa-info-circle icon-info" aria-hidden="true"></i>
                        <br />
                        <div class="coupon-code">@PhoneShop.Extension.Extension.ToVnd((double)item.DiscountAmount)</div>
                    }
                    else
                    {
                        <p>@item.Booth_Information.ShopName</p>
                        <div class="coupon-code">@PhoneShop.Extension.Extension.ToVnd((double)item.DiscountProduct)</div>
                    }
                    
                    <p>Đơn hàng từ @PhoneShop.Extension.Extension.ToVnd((double)item.DiscountConditions)</p>
                    <div class="expiration">HSD: @item.ExpiryDate.ToString("dd/MM/yyyy")</div>
                    
                    @if (item.IsAdmin == false)
                    {
                        <a href="/detail_booth/@item.BoothId" class="button-48" role="button"> <span class="text">Xem ngay</span> </a>
                    }
                    else
                    {
                        <a href="~/" class="button-48 voucher" data-id="@item.Id" role="button"> <span class="text">Lưu</span> </a>
                    }
                </div>
            </div>
        }

       

    </div>

    
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.voucher', function () {
                var id = $(this).data('id');
                          
               
                

                    $.ajax({

                        url: '/Voucher/Add',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                alert("Them thanh cong");

                                location.reload();
                            }
                            else {
                                alert("Them that bai");

                                location.reload();
                            }
                        }

                    });

                
            });
        });
    </script>
        

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            showContent('content1'); // Hiển thị nội dung 1 mặc định khi trang được tải lên
        });

        function showContent(id) {
            var contents = document.getElementsByClassName("content-item");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }
            var content = document.getElementById(id);
            if (content) {
                content.style.display = "block";
            }
        }
    </script>

}