@model IEnumerable<PhoneShop.Models.Voucher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/clients/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/clients/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/clients/dist/css/adminlte.min.css">



<section class="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách mã giảm giá</h3>

                <a href="/Voucher_Seller/Create">Thêm mới</a>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Số tiền giảm
                            </th>
                            <th>
                                Điều kiện
                            </th>
                            <th>
                                Ngày hết hạn
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @{
                                        string formattedDiscountAmount = PhoneShop.Extension.Extension.ToVnd((double)item.DiscountProduct); // "C" là định dạng tiền tệ

                                    }
                                    @formattedDiscountAmount
                                </td>
                                <td>
                                    @{
                                        string formattedDiscountConditions = PhoneShop.Extension.Extension.ToVnd((double)item.DiscountConditions); // "C" là định dạng tiền tệ

                                    }
                                    @formattedDiscountConditions
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @if(item.IsActive == true)
                                    {
                                        <a class="UpdateStatus" data-id="@item.Id"><i class="fas fa-check-square fa-lg" style="color: #3a74d9;"></i></a>
                                    }
                                    else
                                    {
                                        <a class="UpdateStatus" data-id="@item.Id"><i class="fas fa-window-close fa-lg" style="color: #d41629;"></i></a>

                                    }
                                </td>
                                <td>
                                    <a class="btnDelete" data-id="@item.Id">
                                        <i class="fas fa-trash-alt" style="color: #d11f43;"></i>
                                    </a> <br> <a href="/Voucher_Seller/Update/@item.Id"><i class="fas fa-edit" style="color: #3070df;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>
@section scripts_SellerHome{
    <!-- jQuery -->
    <script src="~/clients/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/clients/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/clients/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/jszip/jszip.min.js"></script>
    <script src="~/clients/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/clients/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>






    <!-- AdminLTE App -->
    <script src="~/clients/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*     <script src="~/clients/dist/js/demo.js"></script>
     *@    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("Xác nhận xóa voucher");

                if (conf == true) {

                    $.ajax({

                        url: '/Voucher_Seller/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.UpdateStatus', function () {
                var id = $(this).data('id');

                var conf = confirm("Cập nhật voucher");

                if (conf == true) {

                    $.ajax({

                        url: '/Voucher_Seller/UpdateStatus',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('trow_' + id).remove();
                                location.reload();
                            }
                            else{
                                alert("Lỗi không thể xóa");
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}



